{% comment %}
  File content is automatically genereated. Please don't change the connent

  Usage  {% render 'frcp-collection-wishlist', product: product, button_style: 'overlay' %}
{% endcomment %}

<div class='frcp-wishlist-grid-btn-wrapper frcp-wishlist-grid-btn-wrapper--{{button_style}}' 
  data-frcp-product-id='{{product.id}}'
  data-frcp-product-handle='{{product.handle}}'>
</div>
