<div class="general-black-back">
    <div class="general-white-front _100vw">
      <div class="general-heading-wrapper home">
        <h5>CLASSIC FLAVORS</h5>
        <h1 class="black-text">SWEETEN UP YOUR SNACKING GAME</h1>
        <a href="https://funkychunky.com/collections/flavors" class="general-btn dark-border w-button">Shop All Flavors</a>
      </div>
      <div class="flavor-flex-col">
        <div class="flavor-flex-row">
          <div class="flavor-img-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CP-top-min.jpg 1400w" sizes="100vw" alt="Overhead view of Chocolate Pretzels Product. There is white chocolate, caramel, and chocolate drizzled across the pretzels" class="img-flavor-snack"></div>
          <div class="flavor-info-col">
            <h1 class="pink-text">CHOCOLATE PRETZELS</h1>
            <div class="ingredient-flex-row">
              <div class="ingredient-text">Pretzels</div>
              <div class="ingredient-text pink-text">    |    </div>
              <div class="ingredient-text">Pecans</div>
              <div class="ingredient-text pink-text">    |    </div>
              <div class="ingredient-text">Caramel</div>
              <div class="ingredient-text pink-text">    |    </div>
              <div class="ingredient-text">Chocolatey Drizzle</div>
            </div>
            <div class="line margin-vert"></div>
            <p class="black-text-flavor">Crunchy, salty pretzels laced with chewy, gooey caramel and a ton of chocolatey decadence make our Chocolate Pretzel mix so outright irresistible!</p>
            <a href="https://funkychunky.com/products/chocolate-pretzel" class="general-btn dark-with-w-text margin-t w-button">Shop Chocolate Pretzels</a>
          </div>
        </div>
        <div class="flavor-flex-row">
          <div class="flavor-info-col left-side">
            <h1 class="bright-blue-text">sea salt caramel</h1>
            <div class="ingredient-flex-row">
              <div class="ingredient-text">Sea Salt</div>
              <div class="ingredient-text bright-blue-text">    |    </div>
              <div class="ingredient-text">Popcorn</div>
              <div class="ingredient-text bright-blue-text">    |    </div>
              <div class="ingredient-text">Caramel</div>
              <div class="ingredient-text bright-blue-text">    |    </div>
              <div class="ingredient-text">Cashews</div>
              <div class="ingredient-text bright-blue-text">    |    </div>
              <div class="ingredient-text">Chocolatey Drizzle</div>
            </div>
            <div class="line margin-vert"></div>
            <p class="black-text-flavor">The salty-sweet popcorn treat you’ll crave. It’s covered in gooey caramel, the perfect amount of sea salt, a sprinkling of roasted cashews and a final drizzle of milk and dark chocolatey goodness.</p>
            <a href="https://funkychunky.com/products/sea-salt-caramel-popcorn" class="general-btn dark-with-w-text margin-t w-button">Shop Sea Salt Caramel</a>
          </div>
          <div class="flavor-img-col right-side"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/SSC-top-min.jpg 1400w" sizes="100vw" alt="Sea Salt Caramel product, popcorn with chocolate and caramel drizzle visible" class="img-flavor-snack right"></div>
        </div>
        <div class="flavor-flex-row">
          <div class="flavor-img-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/PBC-top-min.jpg 1400w" sizes="100vw" alt="Peanut Butter Cup product, with popcorn, mini chocolate peanut butter cups, chocolate drizzle, and peanuts visible" class="img-flavor-snack"></div>
          <div class="flavor-info-col">
            <h1 class="brown-text">Peanut Butter cup</h1>
            <div class="ingredient-flex-row">
              <div class="ingredient-text">Popcorn</div>
              <div class="ingredient-text brown-text">    |    </div>
              <div class="ingredient-text">Peanut Butter Cups</div>
              <div class="ingredient-text brown-text">    |    </div>
              <div class="ingredient-text">Peanuts</div>
              <div class="ingredient-text brown-text">    |    </div>
              <div class="ingredient-text">Chocolatey Drizzle</div>
            </div>
            <div class="line margin-vert"></div>
            <p class="black-text-flavor">Turn on your tongue with this serious popcorn mix. The combination of peanut butter and chocolate is an obvious heartbreaker, but we amped up that delight with swirls of peanut buttery and milk chocolatey drizzle... and peanuts... and caramel popcorn.</p>
            <a href="https://funkychunky.com/products/peanut-butter-cup-popcorn" class="general-btn dark-with-w-text margin-t w-button">Shop Peanut Butter Cup</a>
          </div>
        </div>
        <div class="flavor-flex-row">
          <div class="flavor-info-col left-side">
            <h1 class="yellow-text">chip zel pop</h1>
            <div class="ingredient-flex-row">
              <div class="ingredient-text">Popcorn</div>
              <div class="ingredient-text yellow-text">    |    </div>
              <div class="ingredient-text">Potato Chips</div>
              <div class="ingredient-text yellow-text">    |    </div>
              <div class="ingredient-text">Pretzels</div>
              <div class="ingredient-text yellow-text">    |    </div>
              <div class="ingredient-text">Caramel</div>
              <div class="ingredient-text yellow-text">    |    </div>
              <div class="ingredient-text">Chocolatey Drizzle</div>
            </div>
            <div class="line margin-vert"></div>
            <p class="black-text-flavor">We&#x27;ve created a safe word for your midnight cravings: Chip Zel Pop. The satisfying bite of salty chips, pretzels and buttery caramel popcorn is the classic go-to snack.</p>
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="general-btn dark-with-w-text margin-t w-button">Shop Chip Zel Pop</a>
          </div>
          <div class="flavor-img-col right-side"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-top-min.jpg 1400w" sizes="100vw" alt="Chip Zel Pop product, there is popcorn, potato chips, pretzel sticks, all with a white chocolate and chocolate drizzle." class="img-flavor-snack right"></div>
        </div>
        <div class="flavor-flex-row">
          <div class="flavor-img-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/NCP-top-min.jpg 768w" sizes="100vw" alt="Nutty Choco Pop product, there is popcorn, almonds, cashews, and white chocolate, caramel, and chocolate drizzle on all of them" class="img-flavor-snack"></div>
          <div class="flavor-info-col">
            <h1 class="green-text">nutty choco pop</h1>
            <div class="ingredient-flex-row">
              <div class="ingredient-text">Popcorn</div>
              <div class="ingredient-text green-text">    |    </div>
              <div class="ingredient-text">Caramel</div>
              <div class="ingredient-text green-text">    |    </div>
              <div class="ingredient-text">Almonds</div>
              <div class="ingredient-text green-text">    |    </div>
              <div class="ingredient-text">Cashews</div>
              <div class="ingredient-text green-text">    |    </div>
              <div class="ingredient-text">Chocolatey Drizzle</div>
            </div>
            <div class="line margin-vert"></div>
            <p class="black-text-flavor">Listen. It’s time to start snacking like an adult. Ditch the bars and say yes to a stylishly nutty, salty-sweet treat. Hide it in your bottom drawer, keep it from the kids...do whatever you have to do to sneak in moments with Nutty Choco Pop popcorn mix.</p>
            <a href="https://funkychunky.com/products/nutty-choco-pop-popcorn" class="general-btn dark-with-w-text margin-t w-button">Shop Nutty Choco Pop</a>
          </div>
        </div>
      </div>
      <a href="https://funkychunky.com/a/gc/gift-card/" class="bottom-banner w-inline-block">
        <h2 class="h2-link">NOT SURE WHERE TO SEND YOUR GIFT? SEND AN E-GIFT INSTEAD!<br></h2>
      </a>
      <div class="abs-home-salt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min.png 1200w" sizes="100vw" alt=""></div>
      <div class="abs-home-salt-lower"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min.png 1200w" sizes="100vw" alt=""></div>
    </div>
  </div>