<div class="home-cta-section">
    <div class="home-cta-wrapper">
      <div class="home-cta-content-wrapper">
        <h1>WE MAKE CORPORATE GIFTING EASY.</h1>
        <p>When you want to make a lasting impression and show clients your appreciation, turn to the corporate-gifting experts at Funky Chunky.</p>
        <a href="https://funkychunkygifts.com/" class="general-btn w-button">Shop Corporate Gifting</a>
      </div>
    </div>
  </div>