<div class="general-hero-section">
  <div class="about-hero-black-back">
    <div class="about-hero-text-wrapper">
      <h5 class="all-caps white-text">Classic flavors</h5>
      <h1 class="no-margin-b">funky chunky classics</h1>
    </div>
    <div class="top-right-img-shop-category"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw2-min.png" loading="lazy" alt="" class="img-absolute shop-cat-2"></div>
    <div class="top-left-img-shop-category"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw3-min.png 1200w" sizes="(max-width: 4000px) 30vw, 1200px" alt="" class="img-absolute shop-cat"></div>
    <div class="top-right-img-shop-category2"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png 800w" sizes="15vw" alt="" class="img-absolute shop-cat2"></div>
  </div>
  <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-pink.svg" loading="lazy" alt="" class="img-hero"></div>
</div>
<div class="white-section">
  <div class="general-white-front top-flat center category">
    <div class="shop-flex-row">
      <div id="w-node-_5852a4f6-6017-77c8-49e1-efb44b55133a-dd266cfc" class="shop-flex-row-filter">
        <div class="side-filter">
          <h2 class="h2-larger black-text">Filter by:<span class="break-line"></span></h2>
          <div class="filter-category">
            <div data-w-id="a6e9f37a-7d3e-5757-aee0-a1dbb9ecd07e" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Flavor</p>
              <div class="expand-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div style="height:0px" class="filter-options">
              <div data-w-id="1e55581f-8ed6-fc08-5c77-511a7172c7b9" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Birthday Cake</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Birthday Cake</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="325c56a1-1dd6-9475-11f1-8967c1ccd05e" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Chip Zel Pop</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Chip Zel Pop</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="913fa888-da6d-5497-137d-193b4d7cfa30" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Chocolate Pretzels</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Chocolate Pretzels</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="bfaa6f9e-6c87-8311-18b6-d99abd086ee9" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Nutty Choco Pop</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Nutty Choco Pop</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="0af590c9-c5e8-2882-a914-a0aa64bc397b" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Peanut Butter Cup</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Peanut Butter Cup</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="ce5e9c66-d3af-4f73-1f2b-9abc96564411" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Sea Salt Caramel</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Sea Salt Caramel</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="40c8d094-d204-ee5a-e119-a5ba8239b164" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">All Flavors</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">All Flavors</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
            </div>
          </div>
          <div class="filter-category">
            <div data-w-id="1a0addf1-8d2f-dda3-b28b-e8f9ac09644a" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Size</p>
              <div class="expand-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div style="height:0px" class="filter-options">
              <div data-w-id="1a0addf1-8d2f-dda3-b28b-e8f9ac096450" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Small Bag</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Small Bag</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="ded2d11b-871c-1c75-6258-30aee584ddef" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Large Bag</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Large Bag</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="bc5c4b76-1f09-7dd6-f718-d0f840bed811" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Small Canister</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Small Canister</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="b8714bc1-10c6-2ec0-3d5a-93eb9565ffda" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Large Canister</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Large Canister</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
            </div>
          </div>
          <div class="filter-category">
            <div data-w-id="69ed457c-6bce-a5ab-85d1-ca2c24add238" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Price</p>
              <div class="expand-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div style="height:0px" class="filter-options">
              <div data-w-id="94ff8451-3613-50a8-43dd-ae81141a0a56" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Under $5</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Under $5</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="8137b339-63f0-9d6f-d490-00beb9528c8c" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Under $10</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Under $10</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="e480d4a2-df4d-c052-b776-9ad1cb2e4f1d" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Under $20</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Under $20</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
            </div>
          </div>
          <div class="filter-category bottom">
            <div data-w-id="a8f72e1a-b06e-56c2-bd45-f76a085dcdff" class="filter-dropdown-option">
              <p class="black-text no-margin-b">Occasion</p>
              <div class="expand-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="filter-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="display:none;opacity:0" alt="" class="filter-img-alt"></div>
            </div>
            <div style="height:0px" class="filter-options">
              <div data-w-id="941ec442-8117-2ba0-f54c-d72db31146df" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Corporate Events</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Corporate Events</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="f7a7f2d2-35c4-792c-c604-1c9d289f5454" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Valentine&#x27;s Day</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Valentine&#x27;s Day</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="3121bdba-79b3-d066-a3b9-f2d8c79747a1" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Father&#x27;s Day</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Father&#x27;s Day</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="82e6ea18-cc73-efa9-4fee-8e621d8c7e6e" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Halloween</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Halloween</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
              <div data-w-id="73755bc8-9124-7ee5-a2f0-308a5726dedb" class="filter-option-ind">
                <div class="title-wrapper-filter">
                  <p class="black-text no-margin-b left-mob">Christmas</p>
                  <p style="display:none;opacity:0" class="black-text no-margin-b-bold">Christmas</p>
                </div>
                <div class="cancel-filter"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/close2.svg" loading="lazy" style="opacity:0;display:none" alt="" class="cancel-filter-img"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="w-node-_2c3b2892-8e2f-cef5-927b-25cc8ef5f29e-dd266cfc" class="shop-flex-col-filter">
        <div class="sort-btn-wrapper">
          <p class="black-text no-margin-b margin-r italic-text light">Sort by:</p>
          <div data-hover="false" data-delay="0" class="sort-dropdown w-dropdown">
            <div class="dropdown-sort w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <p class="black-text no-margin-b">Best Selling</p>
            </div>
            <nav class="dropdown-sort-list w-dropdown-list">
              <a href="#" class="dropdown-sort-link w-dropdown-link">Option 1</a>
              <a href="#" class="dropdown-sort-link w-dropdown-link">Option 2</a>
              <a href="#" class="dropdown-sort-link w-dropdown-link">Option 3</a>
            </nav>
          </div>
        </div>


        <div class="shop-flex-row-items">


          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-_2c453dd0-c9ca-8595-de3c-3a5b7b5c5cc5-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Small Bag (2oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$2.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>


          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-small-2oz-min.png 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-ad871d1a-cab1-cf98-fb7b-660a1a8c3ffe-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Large Bag (5oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$5.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>


          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-8oz-min.jpg 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-_7bc8cdd9-b3d3-de7c-96b3-02159cbea7ed-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Small Canister (8oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$8.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>


          <div class="shop-flex-col-item">
            <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="shop-img-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/CZP-canister-11.2oz-min.jpg 1400w" sizes="(max-width: 479px) 89.765625px, (max-width: 767px) 160px, 200px" alt="" class="img-shop"></a>
            <div id="w-node-_212fdbed-3d38-4876-4eb4-c0d5c65c44de-dd266cfc" class="shop-name-inner">
              <h2 class="black-text no-margin-b no-margin-t">
                <a href="https://funkychunky.com/products/chip-zel-pop-popcorn" class="black-bright-blue-link">chip zel pop</a><span class="break-line"></span>
              </h2>
              <p class="black-text smaller">Large Canister (11.2oz.)</p>
            </div>
            <div class="quantity-flex-wrapper">
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/minus.svg" loading="lazy" alt=""></div>
              <p class="larger-p-text black-text">1</p>
              <div class="quantity-btn"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/plus.svg" loading="lazy" alt=""></div>
            </div>
            <p class="black-text">$18.99</p>
            <a href="#" class="general-btn dark-with-w-text w-button">Add To Cart</a>
          </div>


        </div>
      </div>
    </div>
    <a href="https://funkychunky.com/a/gc/gift-card/" class="bottom-banner w-inline-block">
      <h2 class="h2-link">NOT SURE WHERE TO SEND YOUR GIFT? SEND AN E-GIFT INSTEAD!<br></h2>
    </a>
  </div>
</div>
<div class="home-cta-section">
  <div class="home-cta-wrapper">
    <div class="home-cta-content-wrapper">
      <h1>WE MAKE CORPORATE GIFTING EASY.</h1>
      <p>When you want to make a lasting impression and show clients your appreciation, turn to the corporate-gifting experts at Funky Chunky.</p>
      <a href="https://funkychunkygifts.com/" class="general-btn w-button">Shop Corporate Gifting</a>
    </div>
  </div>
</div>

<div class="page-width">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
  </header>

  {%- assign blocks = section.blocks | sort: 'collection.all_products_count' -%}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign image_size = '530x' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {%- assign image_size = '350x' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {%- assign image_size = '250x' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {%- assign image_size = '225x' -%}
  {% endcase %}

  <ul class="grid grid--uniform">
    {% if section.settings.display_type == 'all' %}
      {% case section.settings.sort %}
        {% when 'products_high' or 'products_low' %}
          {%- assign collections = collections | sort: 'all_products_count' -%}
        {% when 'date' or 'date_reversed' %}
          {%- assign collections = collections | sort: 'published_at' -%}
      {% endcase %}
      {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
        {% for collection in collections %}
          <li class="grid__item {{ grid_item_width }}">
            {% include 'collection-grid-item', collection: collection %}
          </li>
        {% endfor %}
      {% else %}
        {% for collection in collections reversed %}
          <li class="grid__item {{ grid_item_width }}">
            {% include 'collection-grid-item', collection: collection %}
          </li>
        {% endfor %}
      {% endif %}
    {% else %}
      {% for block in section.blocks %}
        <li class="grid__item {{ grid_item_width }}">
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'collection-grid-item', collection: collection %}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>



{% schema %}
{
  "name": {
    "da": "Siden Kollektionsliste",
    "de": "Kategorien-Liste Seite",
    "en": "Collections list page",
    "es": "Lista de colecciones",
    "fi": "Kokoelmaluettelosivu",
    "fr": "Liste des collections",
    "hi": "कलेक्शन्स सूची पेज",
    "it": "Elenco collezioni",
    "ja": "コレクションリストのページ",
    "ko": "컬렉션 목록 페이지",
    "ms": "Halaman senarai koleksi",
    "nb": "Samlingsliste-side",
    "nl": "Pagina Collectielijst",
    "pt-BR": "Lista de coleções",
    "pt-PT": "Página da lista de coleções",
    "sv": "Kollektionslistsida",
    "th": "หน้ารายการคอลเลกชัน",
    "zh-CN": "产品系列列表页面",
    "zh-TW": "商品系列清單頁面"
  },
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "da": "Alle dine kollektioner vises som standard. Hvis du vil tilpasse din liste, skal du vælge \"Valgte\" og tilføje kollektioner.",
        "de": "Alle kategorien sind automatisch gelistet. Zum Ändern der Liste wählen Sie 'Ausgewählt' und fügen Sie Kategorien hinzu.",
        "en": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections.",
        "es": "Todas tus colecciones están enlistadas por defecto. Para personalizar tu lista, elige 'Seleccionadas' y agrega colecciones.",
        "fi": "Kaikki kokoelmasi näkyvät oletuksena. Voit mukauttaa luetteloa napauttamalla \"Valittu\" ja lisäämällä kokoelmia.",
        "fr": "Toutes vos collections sont listées par défaut. Pour personaliser votre liste, cliquez sur « Sélection » et ajoutez des collections.",
        "hi": "आपके सभी कलेक्शन्स डिफ़ॉल्ट रूप से सूचीबद्ध हैं. अपनी सूची कस्टमाइज़ करने के लिए, 'चयनित' चुनें और कलेक्शन्स जोड़ें.",
        "it": "Tutte le tue collezioni vengono elencate per impostazione predefinita. Per personalizzare il tuo elenco, scegli \"Selezionato\" e aggiungi delle collezioni.",
        "ja": "すべてのコレクションがデフォルトで一覧表示されます。一覧をカスタマイズするには、「選択済み」を選択してコレクションを追加します。",
        "ko": "모든 콜렉션이 기본으로 나열됩니다. 목록을 사용자 지정하려면 '선택'을 선택하고 컬렉션을 추가하십시오.",
        "ms": "Semua koleksi anda disenaraikan secara lalai. Untuk menyesuaikan senarai anda, pilih 'Terpilih' dan tambah koleksi.",
        "nb": "Alle samlingene dine vises som standard. For å tilpasse listen, velg «Valgte» og legg til samlinger.",
        "nl": "Standaard worden al je collecties weergegeven. Kies Geselecteerd en voeg collecties toe om de lijst aan te passen.",
        "pt-BR": "Todas as suas coleções são listadas por padrão. Para personalizar sua lista, escolha \"Selecionado\" e adicione coleções.",
        "pt-PT": "Todas as suas coleções são listadas por predefinição. Para personalizar a sua lista, escolha \"Selecionado\" e adicione coleções.",
        "sv": "Alla dina kollektioner är listade som standard. För att anpassa din lista väljer du \"Vald\" och lägger till kollektioner.",
        "th": "มีการระบุคอลเลกชันทั้งหมดของคุณไว้เป็นค่าเริ่มต้น หากต้องการปรับแต่งรายการของคุณ ให้เลือก 'ที่เลือก' แล้วเพิ่มคอลเลกชัน",
        "zh-CN": "默认情况下列出您的所有产品系列。若要自定义列表，请选择“已选择”并添加产品系列。",
        "zh-TW": "系統預設會將您所有的商品系列都列入清單。如果想自訂清單，請點選「已選取」並新增商品系列。"
      }
    },
    {
      "type": "radio",
      "id": "display_type",
      "label": {
        "da": "Vælg de kollektioner, der skal vises",
        "de": "Kategorien auswählen, die angezeigt werden sollen",
        "en": "Select collections to show",
        "es": "Selecciona colecciones para mostrar",
        "fi": "Valitse näytettävät kokoelmat",
        "fr": "Sélectionner les collections à afficher",
        "hi": "दिखाने के लिए कलेक्शन्स चुनें",
        "it": "Seleziona le collezioni da mostrare",
        "ja": "表示するコレクションを選択する",
        "ko": "표시할 컬렉션 선택",
        "ms": "Pilih koleksi untuk ditunjukkan",
        "nb": "Velg samlinger som skal vises",
        "nl": "Collecties selecteren om weer te geven",
        "pt-BR": "Selecione coleções para exibir",
        "pt-PT": "Selecionar coleções para mostrar",
        "sv": "Välj kollektioner som ska visas",
        "th": "เลือกคอลเลกชันที่จะแสดง",
        "zh-CN": "选择要显示的产品系列",
        "zh-TW": "選取欲顯示的商品系列"
      },
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": {
            "da": "Alle",
            "de": "Alle",
            "en": "All",
            "es": "Todas",
            "fi": "Kaikki",
            "fr": "Toutes",
            "hi": "सभी",
            "it": "Tutte",
            "ja": "すべて",
            "ko": "모두",
            "ms": "Semua",
            "nb": "Alle",
            "nl": "Alle",
            "pt-BR": "Tudo",
            "pt-PT": "Tudo",
            "sv": "Alla",
            "th": "ทั้งหมด",
            "zh-CN": "所有",
            "zh-TW": "全部"
          }
        },
        {
          "value": "selected",
          "label": {
            "da": "Valgt",
            "de": "Ausgewählt",
            "en": "Selected",
            "es": "Seleccionadas",
            "fi": "Valittu",
            "fr": "Sélection",
            "hi": "चयनित",
            "it": "Selezionato",
            "ja": "選択済み",
            "ko": "선택됨",
            "ms": "Dipilih",
            "nb": "Valgt",
            "nl": "Geselecteerd",
            "pt-BR": "Selecionado",
            "pt-PT": "Selecionado",
            "sv": "Valt",
            "th": "เลือกแล้ว",
            "zh-CN": "已选",
            "zh-TW": "已選取"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "label": {
        "da": "Sortér kollektioner efter:",
        "de": "Kategorien sortieren nach:",
        "en": "Sort collections by:",
        "es": "Ordenar colecciones por:",
        "fi": "Lajittele kokoelmat seuraavasti:",
        "fr": "Trier les collections par:",
        "hi": "इसके द्वारा कलेक्शन्स को क्रमबद्ध करें:",
        "it": "Ordina le collezioni per:",
        "ja": "コレクションの並べ替え方法:",
        "ko": "컬렉션 정렬 기준:",
        "ms": "Susunan koleksi oleh:",
        "nb": "Sorter samlinger etter:",
        "nl": "Collecties sorteren op:",
        "pt-BR": "Organizar coleções por:",
        "pt-PT": "Ordenar coleções por:",
        "sv": "Sortera kollektioner efter:",
        "th": "จัดเรียงคอลเลกชันตาม:",
        "zh-CN": "产品系列排序依据：",
        "zh-TW": "以下列方式排序商品系列："
      },
      "info": {
        "da": "Sortering gælder kun, når \"Alle\" er valgt",
        "de": "Sortieren funktioniert nur, wenn 'Alle' ausgewählt ist",
        "en": "Sorting only applies when 'All' is selected",
        "es": "La función ordenar solo se aplica cuando se selecciona \"Todas\"",
        "fi": "Lajittelua sovelletaan vain, kun valintana on \"Kaikki\"",
        "fr": "Le tri ne s'applique que lorsque “Toutes“ est sélectionné",
        "hi": "क्रमबद्ध करना केवल तब लागू होती है जब 'सभी' का चयन किया जाता है",
        "it": "L'ordinamento viene applicato solo quanto è selezionato \"Tutto\"",
        "ja": "「すべて」が選択されている場合にのみ並べ替えを適用する",
        "ko": "정렬은 '모두'를 선택한 경우에만 적용됩니다.",
        "ms": "Penyusunan hanya terpakai apabila 'Semua' dipilih",
        "nb": "Sortering gjelder bare når «Alle» er valgt",
        "nl": "Sorteren is alleen van toepassing als Alles is geselecteerd",
        "pt-BR": "A organização só se aplica quando \"Tudo\" está selecionado",
        "pt-PT": "A ordenação só se aplica quando \"Tudo\" está selecionado",
        "sv": "Sortering gäller endast när \"Alla\" är markerat",
        "th": "การจัดเรียงจะใช้ได้เมื่อเลือก 'ทั้งหมด' เท่านั้น",
        "zh-CN": "仅在选择“全部”时应用排序",
        "zh-TW": "只有在選擇「全部」的時候才能排序"
      },
      "default": "alphabetical",
      "options": [
        {
          "value": "products_high",
          "label": {
            "da": "Produktantal, høj til lav",
            "de": "Produktanzahl, hoch zu niedrig",
            "en": "Product count, high to low",
            "es": "Recuento de productos, de mayor a menor",
            "fi": "Tuotteiden määrä suurimmasta pienimpään",
            "fr": "Nombre de produits, ordre décroissant",
            "hi": "उत्पाद गणना, उच्च से निम्न",
            "it": "Conteggio decrescente prodotti",
            "ja": "商品数の多い順",
            "ko": "제품 개수, 높은 개수부터",
            "ms": "Kiraan produk, tinggi ke rendah",
            "nb": "Produktantall, høy til lav",
            "nl": "Aantal producten, van hoog naar laag",
            "pt-BR": "Contagem de produtos, alta para baixa",
            "pt-PT": "Contagem de produtos, alta para baixa",
            "sv": "Produktantal, högt till lågt",
            "th": "จำนวนสินค้า จากสูงไปต่ำ",
            "zh-CN": "产品数量，从高到低",
            "zh-TW": "產品數量，從高到低"
          }
        },
        {
          "value": "products_low",
          "label": {
            "da": "Produktantal, lav til høj",
            "de": "Produktanzahl, niedrig zu hoch",
            "en": "Product count, low to high",
            "es": "Recuento de productos, de menor a mayor",
            "fi": "Tuotteiden määrä pienimmästä suurimpaan",
            "fr": "Nombre de produits, ordre croissant",
            "hi": "उत्पाद गणना, निम्न से उच्च",
            "it": "Conteggio crescente prodotti",
            "ja": "商品数の少ない順",
            "ko": "제품 개수, 낮은 개수부터",
            "ms": "Kiraan produk, rendah ke tinggi",
            "nb": "Produktantall, lav til høy",
            "nl": "Aantal producten, van laag naar hoog",
            "pt-BR": "Contagem de produtos, baixa para alta",
            "pt-PT": "Contagem de produtos, baixa para alta",
            "sv": "Produktantal, lågt till högt",
            "th": "รูปแบบรูปภาพ จากต่ำไปสูง",
            "zh-CN": "产品数量，从低到高",
            "zh-TW": "產品數量，從低到高"
          }
        },
        {
          "value": "alphabetical",
          "label": {
            "da": "Alfabetisk, A-Å",
            "de": "Alphabetisch, A-Z",
            "en": "Alphabetically, A-Z",
            "es": "Alfabéticamente, A-Z",
            "fi": "Aakkosjärjestyksessä A–Z",
            "fr": "Alphabétique, A-Z",
            "hi": "वर्णमाला के अनुसार: A-Z",
            "it": "In ordine alfabetico, A - Z",
            "ja": "アルファベット順、 A-Z",
            "ko": "알파벳순, A-Z",
            "ms": "Mengikut abjad, A-Z",
            "nb": "Alfabetisk, A–Å",
            "nl": "Alfabetisch: A-Z",
            "pt-BR": "Ordem alfabética, A–Z",
            "pt-PT": "Alfabeticamente, A-Z",
            "sv": "Alfabetiskt, A–Ö",
            "th": "เรียงตามตัวอักษร A-Z",
            "zh-CN": "按字母顺序排序，A-Z",
            "zh-TW": "依字母順序 A 到 Z"
          }
        },
        {
          "value": "alphabetical_reversed",
          "label": {
            "da": "Alfabetisk, Å-A",
            "de": "Alphabetisch, Z-A",
            "en": "Alphabetically, Z-A",
            "es": "Alfabéticamente, Z-A",
            "fi": "Aakkosjärjestyksessä Z–A",
            "fr": "Alphabétique, Z-A",
            "hi": "वर्णमाला के अनुसार: Z-A",
            "it": "In ordine alfabetico, Z - A",
            "ja": "アルファベット順、 Z-A",
            "ko": "알파벳순, Z-A",
            "ms": "Mengikut abjad, Z-A",
            "nb": "Alfabetisk, Å–A",
            "nl": "Alfabetisch: Z-A",
            "pt-BR": "Ordem alfabética, Z–A",
            "pt-PT": "Alfabeticamente, Z-A",
            "sv": "Alfabetiskt, Ö–A",
            "th": "เรียงตามตัวอักษร Z-A",
            "zh-CN": "按字母顺序排序，Z-A",
            "zh-TW": "依字母順序 Z 到 A"
          }
        },
        {
          "value": "date",
          "label": {
            "da": "Dato, ældre til nyere",
            "de": "Datum, alt zu neu",
            "en": "Date, old to new",
            "es": "Fecha: antiguo(a) a reciente",
            "fi": "Päivämäärä vanhimmasta uusimpaan",
            "fr": "Date, anciennes à récentes",
            "hi": "दिनांक, पुरानी से नई",
            "it": "Data, dal più vecchio al più recente",
            "ja": "古い商品順",
            "ko": "날짜(오래된 날짜부터)",
            "ms": "Tarikh, lama ke yang baharu",
            "nb": "Dato, gammelt til nytt",
            "nl": "Datum: oud naar nieuw",
            "pt-BR": "Data, mais antiga primeiro",
            "pt-PT": "Data, mais antigos",
            "sv": "Datum, gammalt till nytt",
            "th": "วันที่ จากเก่าไปใหม่",
            "zh-CN": "日期从旧到新",
            "zh-TW": "日期 (從舊到新)"
          }
        },
        {
          "value": "date_reversed",
          "label": {
            "da": "Dato, nyere til ældre",
            "de": "Datum, neu zu alt",
            "en": "Date, new to old",
            "es": "Fecha: reciente a antiguo(a)",
            "fi": "Päivämäärä uusimmasta vanhimpaan",
            "fr": "Date, récentes à anciennes",
            "hi": "दिनांक पुरानी से नई",
            "it": "Data, dal più recente al più vecchio",
            "ja": "新着順",
            "ko": "날짜(최신 날짜부터)",
            "ms": "Tarikh, yang baru hingga lama",
            "nb": "Dato, nytt til gammelt",
            "nl": "Datum: nieuw naar oud",
            "pt-BR": "Data, mais recente primeiro",
            "pt-PT": "Data, mais recentes",
            "sv": "Datum, nytt till gammalt",
            "th": "วันที่ จากใหม่ไปเก่า",
            "zh-CN": "日期从新到旧",
            "zh-TW": "日期 (從新到舊)"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "da": "Kollektioner pr. række",
        "de": "Kategorien per Reihe",
        "en": "Collections per row",
        "es": "Colecciones por fila",
        "fi": "Kokoelmia per rivi",
        "fr": "Collections par rangée",
        "hi": "प्रति पंक्ति कलेक्शन",
        "it": "Collezioni per riga",
        "ja": "行あたりのコレクション数",
        "ko": "열 별 컬렉션",
        "ms": "Koleksi setiap baris",
        "nb": "Samlinger per rad",
        "nl": "Collecties per rij",
        "pt-BR": "Coleções por linha",
        "pt-PT": "Coleções por linha",
        "sv": "Produktserier per rad",
        "th": "คอลเลกชันต่อแถว",
        "zh-CN": "每行产品系列数",
        "zh-TW": "每列商品系列數"
      },
      "default": 3,
      "min": 2,
      "max": 5,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "da": "Samling",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "ms": "Koleksi",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      },
      "settings": [
        {
          "label": {
            "da": "Samling",
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fi": "Kokoelma",
            "fr": "Collection",
            "hi": "कलेक्शन",
            "it": "Collezione",
            "ja": "コレクション",
            "ko": "컬렉션",
            "ms": "Koleksi",
            "nb": "Samling",
            "nl": "Collectie",
            "pt-BR": "Coleção",
            "pt-PT": "Coleção",
            "sv": "Produktserie",
            "th": "คอลเลกชัน",
            "zh-CN": "收藏",
            "zh-TW": "商品系列"
          },
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
