<div class="reviews-home-section">
    <h1>THE REVIEWS ARE IN!</h1>
    <div class="img-reviews-top-right"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients1-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients1-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients1-min.png 1200w" sizes="100vw" alt="Transparent perspective view of caramel and chocolate swirls extending towards the viewer with popcorn, pretzel sticks, and potato chips hovering in midair"></div>
    <div class="img-reviews-top-left"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-ingredients2-min.png 1200w" sizes="100vw" alt="Transparent perspective view of caramel and chocolate swirls going across the screen with popcorn, pretzel sticks, and potato chips hovering in midair"></div>
    <div class="review-slider-wrapper">
      <div data-delay="4000" data-animation="slide" class="slider-reviews w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="w-slider-mask">
          <div class="w-slide">
            <div class="review-slider-inner">
              <div class="review-flex-individ">
                <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars-w.svg" alt="Five white stars in an arch, the middle star being the furthest to the top"></div>
                <h2>RECOMMEND TO ANYONE</h2>
                <p>I love caramel popcorn and the chocolate makes it taste just as great or even better, totally recommend to anyone.</p>
                <p class="bold-text">Brenda</p>
              </div>
              <div class="review-flex-individ">
                <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars-w.svg" alt="Five white stars in an arch, the middle star being the furthest to the top"></div>
                <h2><strong>PEANUT BUTTER CUP OUTSTANDING!</strong></h2>
                <p>This delicious, delightful, delectable peanut butter chocolate DREAM is an insanely addictive treat! What a pleasure it was to be able to sample these spectacular heavenly sweets. There was nothing in Heaven or on Earth that could stand up to the power that was in this little snack-sized pouch!</p>
                <p class="bold-text">Kellee S.</p>
              </div>
              <div class="review-flex-individ">
                <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars-w.svg" alt="Five white stars in an arch, the middle star being the furthest to the top"></div>
                <h2>SOMETHING FOR EVERYONE</h2>
                <p>Funky Chunky is definitely addictive in any flavor, but with the crowd pleaser pail, it&#x27;s also a surprise in your mouth when you empty each bag and mix it up. Always fresh, always delicious, and always shipped fast.</p>
                <p class="bold-text">Donna S.</p>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="review-slider-inner">
              <div class="review-flex-individ">
                <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars-w.svg" alt="Five white stars in an arch, the middle star being the furthest to the top"></div>
                <h2>SO DELICIOUS!</h2>
                <p>I gave this as a gift, and was able to sneak a few bites once my mom opened the pail. I&#x27;m now ordering one for myself!</p>
                <p class="bold-text">Benjamin L.</p>
              </div>
              <div class="review-flex-individ">
                <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars-w.svg" alt="Five white stars in an arch, the middle star being the furthest to the top"></div>
                <h2>FUNK-TASTIC!</h2>
                <p>This was a birthday gift and it was a huge hit! They raved about how amazingly delicious Funky Chunky is! Will definitely be ordering more.</p>
                <p class="bold-text">Mikianne M.</p>
              </div>
              <div class="review-flex-individ">
                <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars-w.svg" alt="Five white stars in an arch, the middle star being the furthest to the top"></div>
                <h2>FABULOUS<br></h2>
                <p>This popcorn is probably the best I’ve ever had. I love the chocolate and peanut butter together with the caramel corn.</p>
                <p class="bold-text">Elizabeth H.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="arrow-review-slider left w-slider-arrow-left"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/arrow-left-w.svg" loading="lazy" alt="" class="img-slider-abs"></div>
        <div class="arrow-review-slider w-slider-arrow-right"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/arrow-right-w.svg" loading="lazy" alt="" class="img-slider-abs"></div>
        <div class="slide-nav-review w-slider-nav w-round"></div>
      </div>
    </div>
    <div class="retailers-wrapper">
      <div class="retailers-flex-header">
        <div class="line white margin-right"></div>
        <h3 class="all-caps">FIND US AT THESE DELICIOUS RETAILERS</h3>
        <div class="line white margin-left"></div>
      </div>
      <div class="retailers-grid">
        <div id="w-node-_3293959d-ca7e-719e-5b29-87145543c957-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/amazon-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/amazon-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/amazon-w.png 600w" sizes="100vw" alt="Amazon" class="retailer-img"></div>
        <div id="w-node-_1c211313-cf1e-fff2-7af0-7b23bee83d54-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/bestbuy-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/bestbuy-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/bestbuy-w.png 600w" sizes="100vw" alt="Best Buy" class="retailer-img"></div>
        <div id="w-node-_31ef0c8a-c6f5-6cc4-bb72-293c3bda6098-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costco-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costco-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costco-w.png 600w" sizes="100vw" alt="Costco" class="retailer-img"></div>
        <div id="w-node-_7490fd35-20ab-bf9b-bc89-7908167ac358-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/world-market-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/world-market-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/world-market-w.png 600w" sizes="100vw" alt="World Market Logo" class="retailer-img"></div>
        <div id="w-node-b2743276-41f9-8928-de50-f22d7495a993-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/lundsbyerlys-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/lundsbyerlys-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/lundsbyerlys-w.png 600w" sizes="100vw" alt="Lunds and Byerlys" class="retailer-img"></div>
        <div id="w-node-_9c7a455a-29cd-3937-42d9-38227c199aeb-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/marshalls-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/marshalls-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/marshalls-w.png 600w" sizes="100vw" alt="Marshalls" class="retailer-img"></div>
        <div id="w-node-_3350af6c-2861-de65-222a-bd87e152423e-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/michaels-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/michaels-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/michaels-w.png 600w" sizes="100vw" alt="Michaels" class="retailer-img"></div>
        <div id="w-node-_2cf04adc-3404-2e0c-4c08-c25490258c45-416bd30c" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/tjmaxx-w.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/tjmaxx-w-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/tjmaxx-w.png 600w" sizes="100vw" alt="TJ Maxx" class="retailer-img"></div>
      </div>
    </div>
  </div>