<div class="footer"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-footer.svg" loading="lazy" alt="" class="footer-img">
    <div class="footer-wrapper">
      <div class="footer-top-flex-row">
        <a href="/" class="logo-footer-wrapper w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-logo-w.svg" loading="lazy" alt="White Funky Chunky Logo"></a>
        <div id="w-node-_22583614-0295-afaa-6068-2193be789c8a-be789c84" class="join-save-col">
          <div class="email-header-flex-row">
            <h6>join &amp; save!  </h6>
            <div class="smaller-container">
              <p class="no-margin-b smaller margin-mob">Enter your email & enjoy 15% off your first order and stay up to day with the latest promotions!</p>
            </div>
          </div>
          <div class="klaviyo-form-XGGm8U"></div>
          {%comment%}
          <div class="w-form">
            <form id="wf-form-Join-and-Save" name="wf-form-Join-and-Save" data-name="Join and Save" method="get" class="form-flex"><input type="email" class="footer-text-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="your email address" id="email-2" required=""><input type="submit" value="»" data-wait="Please wait..." class="footer-btn w-button"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          {%endcomment%}
        </div>
        <div id="w-node-_22583614-0295-afaa-6068-2193be789c9a-be789c84" class="social-flex-col">
          <div class="social-grid">
            <a href="https://www.facebook.com/funkychunky/" target="_blank" class="social-link-block w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/facebook-w.svg" loading="lazy" alt="Visit us on Facebook"></a>
            <a href="https://www.instagram.com/funkychunkyofficial" target="_blank" class="social-link-block w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/instagram-w.svg" loading="lazy" alt="Visit us on Instagram"></a>
            <a href="https://www.pinterest.com/funkychunkyinc/" target="_blank" class="social-link-block w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/pinterest-w.svg" loading="lazy" alt="Visit us on Pinterest"></a>
          </div>
        </div>
      </div>
      <div class="footer-link-flex-row">
        <div class="footer-link-flex-col">
          <h6>Shop</h6>
          <a href="https://funkychunky.com/collections/all-products" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Shop All</p>
          </a>
          <a href="https://funkychunky.com/collections/flavors" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Shop by Flavor</p>
          </a>
          <a href="https://funkychunky.com/collections/best-selling-products" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Best Sellers</p>
          </a>
          <a href="https://funkychunky.com/pages/discounts" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Current Promotions</p>
          </a>
        </div>
        <div class="footer-link-flex-col">
          <h6>Ways to gift</h6>
          <a href="https://funkychunkygifts.com/" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Corporate Gifting</p>
          </a>
          <a href="https://funkychunky.com/pages/fundraising" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Fundraising</p>
          </a>
          <a href="https://funkychunky.com/a/gc/gift-card/" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">E-Gifts</p>
          </a>
          <a href="https://funkychunky.com/pages/multi-ship" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Multiple Addresses</p>
          </a>
        </div>
        <div class="footer-link-flex-col">
          <h6>Customers</h6>
          <a href="https://funkychunky.com/pages/customer-service-1" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Track Your Order</p>
          </a>
          <a href="https://funkychunky.com/pages/customer-service-1#shipping-and-returns" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Shipping &amp; Returns</p>
          </a>
          <a href="https://funkychunky.com/account/login" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Account Login</p>
          </a>
          <a href="https://funkychunky.com/pages/nutrition" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Product Nutrition</p>
          </a>
        </div>
        <div class="footer-link-flex-col">
          <h6>Wholesale</h6>
          <a href="https://funkychunky.com/pages/wholesale" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Why Sell Wholesale?</p>
          </a>
          <a href="https://funkychunky.com/pages/wholesale" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Wholesale Application</p>
          </a>
          <a href="https://funkychunky.com/account/login" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Wholesale Login</p>
          </a>
        </div>
        <div class="footer-link-flex-col">
          <h6>Resources</h6>
          <a href="https://funkychunky.com/blogs/news" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Funky News</p>
          </a>
          <a href="https://funkychunky.com/pages/customer-service-1#faq-section" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">FAQs</p>
          </a>
          <a href="https://funkychunky.com/pages/reviews-1" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Reviews</p>
          </a>
          <a href="https://funkychunky.com/pages/contact" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover">Contact</p>
          </a>
        </div>
      </div>
      <div class="footer-copywrite">
        <div class="copywrite-col margin-l-tab alt">
          <p class="no-margin-b smaller-mob">© 2022</p>
          <p class="no-margin-b margin-horiz smaller-mob">|</p>
          <p class="no-margin-b smaller-mob">Designed by <a href="https://www.sidekickwebstudio.com/" class="footer-link-block no-padding">Sidekick Web Studio</a>
          </p>
        </div>
        <div class="copywrite-col alt">
          <a href="https://funkychunky.com/pages/privacy-policy-1" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover smaller-mob">Privacy Policy</p>
          </a>
          <p class="no-margin-b margin-horiz smaller-mob">|</p>
          <a href="https://funkychunky.com/pages/terms-and-conditions" class="footer-link-block w-inline-block">
            <p class="no-margin-b blue-hover smaller-mob">Terms &amp; Conditions</p>
          </a>
        </div>
      </div>
    </div>
  </div>