<div class="general-hero-section">
    <div class="about-hero-black-back _100vw hidden">
      <div class="about-hero-text-wrapper corporate">
        <h5 class="all-caps white-text">multiship</h5>
        <h1 class="no-margin-b">ship to everyone!</h1>
      </div>
      <div class="top-left-multiship-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png 600w" sizes="12vw" alt="" class="img-absolute-inner"></div>
      <div class="top-r-multiship-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min.png 1150w" sizes="30vw" alt="" class="img-absolute-inner multiship"></div>
    </div>
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section multi-ship">
    <div class="general-white-front top-flat no-padding">
      <div class="general-content-wrapper wider">
        <h1 class="black-text">send to multiple addresses in a single order</h1>
        <p class="black-text">Did you know that we can deliver all your gifts for you? <br> We have two ways to do that!</p>

        {%comment%}
        <div class="flex-text-multi">
          <h5 class="all-caps bold-text">have a smaller list?</h5>
          <p class="black-text no-margin-b italic-text light"> (Less than 20)</p>
        </div>
        <p class="black-text">Order Online using our Multiple Address option (see below)</p>
        <div class="flex-text-multi">
          <h5 class="all-caps bold-text">have a larger list, or just need help?</h5>
          <p class="black-text no-margin-b italic-text light"> (More than 20)</p>
        </div>
        <p class="black-text">Email us at <a href="mailto:corporate@funkychunky.com" class="bright-blue-black-link">corporate@funkychunky.com</a> and we&#x27;ll take your list and do the rest.</p>
        {%endcomment%}
      </div>
    </div>
  </div>
  <div class="black-back-section relative padding-b">
    <div class="multiship-wrapper">
      <h1 class="no-margin-b smaller-h1">HOW TO USE MULTI-SHIP FOR ONLINE ORDERS</h1>
      <p>(Funkychunky.com orders with less than 20 addresses and no customizations)</p>
      {%comment%}
      <p>For a Printable Guide please <a href="#" class="bright-blue-white-link">click here</a>:</p>
          {%endcomment%}
      <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="multiship-tabs w-tabs">
        <div class="tab-menu-info multiship w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-link-multiship w-inline-block w-tab-link w--current">
            <div>step 1</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-link-multiship w-inline-block w-tab-link">
            <div>step 2</div>
          </a>
          <a data-w-tab="Tab 3" class="tab-link-multiship w-inline-block w-tab-link">
            <div>step 3</div>
          </a>

        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="multiship-tab-inner">
              <p class="center-mob">Add your items from any of the shop drop downs on the site. Don’t forget to add your gift message by selecting the checkbox “Is this a gift” on the product page.</p>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="multiship-tab-inner">
              <p class="center-mob">Once you’re done you can click view cart on the product page to or click the shopping bag cart icon in the upper right corner of your screen.</p>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="multiship-tab-inner">
              <p class="center-mob">At the checkout page there will be a box in the upper left part of the screen that says, "Ship to Multiple Addresses". Once this box is checked address boxes will appear for you to fill out for each item</p>
              <p class="center-mob italic">*Pro Tip for larger address lists: For these its best to start by making an account, just clicking on the person icon in the upper right corner. Then add your addresses to your account by clicking on the "Address Book" in the left menu PRIOR TO checking out! Then when select the multiple addresses box at checkout you will be able to select from your saved addresses in a drop down that will appear when you go to enter your addresses, versus having to enter each time at checkout.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="multiship-wrapper">
      <h1 class="no-margin-b smaller-h1">HOW TO USE MULTI-SHIP FOR CORPORATE ORDERS</h1>
      <p>(Custom corporate orders made from our corporate gifting tab or orders more than 20 addresses)</p>
      {%comment%}
      <p>For a Printable Guide please <a href="#" class="bright-blue-white-link">click here</a>:</p>
          {%endcomment%}
      <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="multiship-tabs w-tabs">
        <div class="tab-menu-info multiship w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-link-multiship w-inline-block w-tab-link w--current">
            <div>step 1</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-link-multiship w-inline-block w-tab-link">
            <div>step 2</div>
          </a>
          <a data-w-tab="Tab 3" class="tab-link-multiship w-inline-block w-tab-link">
            <div>step 3</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="multiship-tab-inner">
              <p class="center-mob">Click on Corporate gifting, then the “shop corporate” button to add your gifts and customizations.</p>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="multiship-tab-inner">
              <p class="center-mob">Once you’re done you can click “Go to cart” on the product page to or click the shopping bag cart icon in the upper right corner of your screen. Keep in mind the corporate checkout is separate from the main site checkout, so you want to stay in the corporate tab when shopping. Remember the minimum for corporate gifts is 20.</p>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="multiship-tab-inner">
              <p class="center-mob">At the checkout page there will be two shipping options, Single address shipments you hit “add to car” this will request a quote and a sales rep will be in touch. For multi-address shipments (Lower 48 states in The U.S. only), select the number of addresses you’re shipping to in the quantity field. Then download the CORPORATE ORDER FORM and fill in your addresses. Lastly upload your completed form in the file upload field which will be directly below the quantity field.
            </p>
            <p class="center-mob italic">*Pro Tip if you were working with a sales rep be sure and enter their name in the notes section to the right</p>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  {%comment%}
  <div class="white-section">
    <div class="general-white-front margin-t">
      <div class="general-content-wrapper wider">
        <h1 class="black-text">start your large order</h1>
        

        <div style="margin:0 auto;" class="pxFormGenerator" id="3XGe6CY3XX3_Q4zQfBxrQQ"></div>

        <p class="black-text smaller">By entering your email, phone number and submitting this form, you consent to receive marketing email and/or text messages (such as promotions, general communications &amp; order transaction information) from Funky Chunky at the number provided, including messages sent by autodialer. Consent is not a condition of any purchase. Message and data rates may apply. Message frequency varies. You can unsubscribe at any time by replying STOP or clicking the unsubscribe link (where available) in one of our messages. View our <a href="privacy-policy.html" class="black-bright-blue-link bold">Privacy Policy</a> and <a href="terms-conditions.html" class="black-bright-blue-link bold">Terms of Service</a>.</p>
        <p class="black-text smaller">*If you qualify for free samples, you may be asked to pay for shipping.</p>
      </div>
    </div>
  </div>

  <div class="black-back-section padding-b">
    <div class="corporate-gift-wrapper-copy">
      <h1 class="no-margin-b">have a really big list?</h1>
      <p>Email us your spreadsheet!</p>
      <a href="#" class="general-btn white-background w-button">Download Our Spreadsheet Order Form</a>
    </div>
  </div>
  {%endcomment%}