
  <div class="general-hero-section">
    {%comment%}
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">about us</h5>
        <h1 class="no-margin-b">A BIT ABOUT US</h1>
      </div>
      <div class="top-left-about-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png 600w" sizes="15vw" alt="" class="img-absolute"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat">
      <div class="about-hero-text-wrapper">
        <h1 class="black-heading">contact us</h1>
      </div>
    </div>
  </div>



{%comment%}
<div class="general-hero-section _100vw">
  <div class="about-hero-black-back contact">
    <div class="about-hero-text-wrapper">

 
      <h1 class="no-margin-b">contact us</h1>
    </div>
    <div class="abs-contact-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png 1200w" sizes="100vw" alt="" class="img-absolute contact"></div>
  </div>
  <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
</div>

{%endcomment%}
<div class="white-section">
  <div class="general-white-front top-flat _100vw">
    <div class="contact-content-wrapper">
      <h2 class="black-text align-center">ALL OF OUR GOURMET SNACKS ARE PROUDLY ARTISAN-CRAFTED BY PEOPLE, NOT MACHINES, IN OUR FACTORY</h2>
      <p class="black-text align-center">Please see our <a href="/customer-service#shipping-faq" class="bright-blue-black-link">shipping terms and conditions</a> for order shipment lead times. We do our best to ship orders as soon as possible, but delays can occur during periods of high demand and hot weather. Our delicious confections are worth the wait!</p>
      <p class="black-text align-center">Please note, for the fastest service please email us at <a href="mailto:info@funkychunky.com" class="bright-blue-black-link">info@funkychunky.com</a> or use the contact form below. During holiday periods we may not be able to answer the phone due to high call volumes. If you leave us a voicemail, please ensure you leave your email address and/or order number.</p>
    </div>
    <div class="contact-grid">
      <div id="w-node-_2848671c-30b4-7c5f-b4ee-cea5a392dafd-a4269845" class="contact-grid-inner">
        <div class="contact-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/hours.png" loading="lazy" alt=""></div>
        <p class="no-margin-b center-mob"><span class="bold-text">Monday–Friday: 8:30am - 4:30pm</span><br><span class="italic-text">(Closed on all major holidays)</span></p>
      </div>
      <div id="w-node-_42ceeeeb-2fdb-f87a-c2c3-0222bc82a753-a4269845" class="contact-grid-inner">
        <div class="contact-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/email.png" loading="lazy" alt=""></div>
        <p class="no-margin-b">
          <a href="mailto:info@funkychunky.com" class="white-blue-link bold-text">info@funkychunky.com</a><span class="italic-text"></span>
        </p>
      </div>
      <div id="w-node-_51bf8989-2726-d366-32b1-658cca3af5db-a4269845" class="contact-grid-inner">
        <div class="contact-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/location.png" loading="lazy" alt=""></div>
        <p class="no-margin-b center-mob">
          <a href="https://goo.gl/maps/NNGfV9rJzWHNy1UAA" target="_blank" class="white-blue-link bold-text">6750 Shady Oak Road<br>Eden Prairie, MN 55344</a>
        </p>
      </div>
      <div id="w-node-_9fd84330-a9bc-ce37-752c-826694086024-a4269845" class="contact-grid-inner">
        <div class="contact-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/phone.png" loading="lazy" alt=""></div>
        <p class="no-margin-b center-mob">
          <a href="tel:+18884738659" class="white-blue-link bold-text center-mob">1-888-IS-FUNKY  (1-888-473-8659)</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="black-back-section relative">
  <div class="form-fundraiser-wrapper">
    <h5 class="all-caps white-text">general inquiries</h5>
    <h1 class="no-margin-b">give us a shout!</h1>



    <div style="margin:0 auto;" class="pxFormGenerator" id="Lq6fCZcttPanUCxGJ0aWEA"></div>



    {%comment%}
    <div class="contact-form w-form">

      {% form 'contact', id:"Contact-Form" %}
      {% if form.posted_successfully? %}
        <div class="jc-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
      {% else %}


      <input type="text" class="general-text-field flex w-input" maxlength="256" name="Full-Name" data-name="Full Name" placeholder="Full Name*" id="Full-Name" required="">
      <input type="email" class="general-text-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email Address*" id="Email-Address" required="">
      <textarea placeholder="Your message.." maxlength="5000" id="Message" name="Message" data-name="Message" class="general-text-field full w-input"></textarea>
      <input type="submit" value="Submit" data-wait="Please wait..." class="general-btn w-button">



      <input type="hidden" name="contact[form-name]" value="General Contact Form">


      
      {% endif %}
    {% endform %}




      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
    {%endcomment%}
  </div>
  <div class="absolute-form-contact-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png 1200w" sizes="100vw" alt="" class="img-absolute sign-up"></div>
</div>

<script type="text/javascript">
    $(document).ready(function() { 

      var url = window.location.href;

      if ( url == 'https://www.domain.com/pages/contact?contact' ) {
        $('html, body').animate({
        scrollTop: $('#contact').offset().top-106
        }, 1000);
      }

      if ( url == 'https://www.domain.com/pages/contact?contact_posted=true' ) {
        $('html, body').animate({
        scrollTop: $('#contact').offset().top-106
        }, 1000);
      }

    });

</script>