<div class="general-hero-section _100vw">
  {%comment%}
    <div class="about-hero-black-back fundraiser">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">FUNKY CHUNKY FUNDRAISERS</h5>
        <h1 class="no-margin-b">KNOW A GOOD CAUSE?</h1>
      </div>
      <div class="top-left-wholesale-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw3-min.png" loading="lazy" alt="" class="img-absolute-inner"></div>
      <div class="top-right-fundraising-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png 1200w" sizes="(max-width: 479px) 30vw, 25vw" alt="" class="img-absolute-inner"></div>
      <div class="top-left-wholesale-img alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png 800w" sizes="15vw" alt="" class="img-absolute-inner"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat _100vw">
      <div class="general-content-wrapper wider no-padding-b">
        <h1 class="black-text">HOLD YOUR NEXT FUNDRAISER WITH US!</h1>
        <p class="black-text">When you hold a fundraiser with Funky Chunky, we make it easy! Simply sign up below to get started.</p>
      </div>
      <div class="fundraising-flex-row">
        <div class="fundraiser-flex-col larger">
          <div class="fundraiser-pill">
            <div class="fundraiser-pill-flex">
              <div class="number-circle-wrapper">
                <h3 class="black-text no-margin-b smaller-h3">1</h3>
              </div>
              <p class="no-margin-b center-mob">Work with Funky Chunky to set up your organization&#x27;s fundraising goals</p>
            </div>
          </div>
          <div class="fundraiser-pill">
            <div class="fundraiser-pill-flex">
              <div class="number-circle-wrapper">
                <h3 class="black-text no-margin-b smaller-h3">2</h3>
              </div>
              <p class="no-margin-b center-mob">Give each participant a unique link where buyers can purchase online</p>
            </div>
          </div>
          <div class="fundraiser-pill">
            <div class="fundraiser-pill-flex">
              <div class="number-circle-wrapper">
                <h3 class="black-text no-margin-b smaller-h3">3</h3>
              </div>
              <p class="no-margin-b center-mob">Sit back and collect your cash while you let our automated marketing sell for you</p>
            </div>
          </div>
        </div>
        <div class="fundraiser-flex-col smaller">
          <div class="fundraising-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/TripleFlavor-GiftPack-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/TripleFlavor-GiftPack-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/TripleFlavor-GiftPack-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/TripleFlavor-GiftPack-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/TripleFlavor-GiftPack-min.png 1400w" sizes="(max-width: 767px) 68vw, (max-width: 991px) 36vw, (max-width: 3684px) 38vw, 1400px" alt=""></div>
        </div>
      </div>
      <div class="general-content-wrapper wider no-padding-b">
        <p class="black-text tighter">For any questions, contact us at <a href="mailto:info@funkychunky.com" class="bright-blue-black-link">info@funkychunky.com</a>, or call us at <a href="tel:+19522344770" class="bright-blue-black-link">(952) 234-4770</a> with any questions.<br></p>
      </div>
      <div class="general-content-wrapper wider how-it-works">
        <h1 class="black-text">HOW IT WORKS</h1>
        <p class="black-text">We work with our partner <a href="https://wefund4u.com/" target="_blank" class="bright-blue-black-link">WeFund4U</a> to facilitate the process. Our fundraisers can be set up in minutes, and we’ll personally assist along the way to help onboard your team members, connect their social media, add their contact list and launch. Gone are the days of having to knock on doors, take order forms to the office or deliver the items personally - we take care of all of this automatically. From order to delivery. All you have to do is contact us to get started and we’ll take care of the rest!</p>
        <div class="we-fund-for-u-logo-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/wefund4u.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/wefund4u-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/wefund4u.png 600w" sizes="100vw" alt=""></div>
        <a href="https://youtu.be/vOIaBkLnn0o" class="general-btn dark-with-w-text w-button">Watch Their “How it Works” Video</a>
      </div>
      <div class="step-grid">
        <div id="w-node-ddbb12c0-b80e-9377-6ded-2b126503f730-8e9f3f5e" class="step-grid-inner">
          <p class="bright-blue-text no-margin-b">Step 1</p>
          <h2 class="black-text no-margin-t">launch fundraiser</h2>
          <p class="black-text left-align center-tab">After we create the fundraiser, each participant will join and invite family, friends and all potential donors through our invite wizard. Through this invite process, participants will share the fundraiser via formatted emails, text messages, Facebook and other social media outlets. Average launch time of a fundraiser is 15 minutes.</p>
        </div>
        <div id="w-node-b1be3cc3-5513-45ca-1b89-34a6e1aece66-8e9f3f5e" class="step-grid-inner">
          <p class="bright-blue-text no-margin-b">Step 2</p>
          <h2 class="black-text no-margin-t">track progress</h2>
          <p class="black-text left-align center-tab">Our detailed tracking system allows the coach or the fundraiser administrator to itemize and track every donation. The system tracks all levels of participation; including the number of emails sent, text messages, social media shares and total dollars raised per participant. The coach/fundraising administrator can access to view or download all these reports as an Excel file.</p>
        </div>
        <div id="w-node-_90d7984c-0021-fcaf-9e1c-5fb1054bb57e-8e9f3f5e" class="step-grid-inner">
          <p class="bright-blue-text no-margin-b">Step 3</p>
          <h2 class="black-text no-margin-t">deposit the funds</h2>
          <p class="black-text left-align center-tab">We have partnered with the world&#x27;s leading e-commerce platform and therefore each donation is easily accepted and 100% secure through our 128-bit encryption. Our system is streamlined to collect and distribute funds as efficiently as possible. We understand the need to quickly invest in your cause and we will have your funds via direct deposit and or a check within 5-10 business days of the fundraiser ending.</p>
        </div>
      </div>
      <div class="line margin-vert _40p center"></div>
      <div class="general-content-wrapper wider alt">
        <p class="black-text italic-text">We may share the lead with local trusted sales representatives that are not Funky Chunky employees to complete the onboarding process.</p>
      </div>
      <div class="fundraising-overlay-left"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min.png 1200w" sizes="44vw" alt="" class="img-absolute fundraising"></div>
    </div>
  </div>
  <div class="black-back-section relative">
    <div class="form-fundraiser-wrapper">
      <h5 class="all-caps white-text">sign up today</h5>
      <h1 class="no-margin-b">HOLD A FUNKY CHUNKY FUNDRAISER</h1>


      <div style="margin:0 auto;" class="pxFormGenerator" id="L_G8rfdG4XRAeJtA0LCc3g"></div>
      {%comment%}
      <div class="signup-form w-form">
        <form id="wf-form-Funky-chunky-fundraiser" name="wf-form-Funky-chunky-fundraiser" data-name="Funky chunky fundraiser" method="get">
          <div class="flex-form-fundraiser"><input type="text" class="general-text-field flex w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name*" id="First-Name" required=""><input type="text" class="general-text-field flex w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name*" id="Last-Name" required=""></div>
          <div class="flex-form-fundraiser"><input type="email" class="general-text-field flex w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email Address*" id="Email-Address" required=""><input type="email" class="general-text-field flex w-input" maxlength="256" name="Phone-Number" data-name="Phone Number" placeholder="Phone Number*" id="Phone-Number" required=""></div><input type="text" class="general-text-field flex margin-b w-input" maxlength="256" name="Organization" data-name="Organization" placeholder="Organization*" id="Organization" required="">
          <div class="flex-form-fundraiser"><input type="text" class="general-text-field flex w-input" maxlength="256" name="City" data-name="City" placeholder="City*" id="City" required=""><input type="text" class="general-text-field flex w-input" maxlength="256" name="State" data-name="State" placeholder="State*" id="State" required=""><input type="text" class="general-text-field flex w-input" maxlength="256" name="Zip-Code" data-name="Zip Code" placeholder="ZIP Code*" id="Zip-Code-2" required=""></div><label for="Organization-and-Fundraiser-information" class="white-text bigger">Please provide some information about your organization and upcoming fundraiser:<span class="pink-text">*</span></label><textarea placeholder="" maxlength="5000" id="Organization-and-Fundraiser-information" name="Organization-and-Fundraiser-information" required="" data-name="field" class="general-text-field full w-input"></textarea><input type="submit" value="Submit" data-wait="Please wait..." class="general-btn margin-t alt w-button">
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      {%endcomment%}

    </div>
    <div class="absolute-sign-fundrasier"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png 1200w" sizes="(max-width: 991px) 50vw, (max-width: 2000px) 60vw, 1200px" alt=""></div>
  </div>