<div class="general-hero-section">
  {%comment%}
  <div class="about-hero-black-back">
    <div class="about-hero-text-wrapper">
      <h5 class="all-caps white-text">about us</h5>
      <h1 class="no-margin-b">A BIT ABOUT US</h1>
    </div>
    <div class="top-left-about-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png 600w" sizes="15vw" alt="" class="img-absolute"></div>
  </div>
  {%endcomment%}
  <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
</div>
<div class="white-section black-back">
  <div class="general-white-front top-flat">
    <div class="about-hero-text-wrapper">
      <h1 class="black-heading">Privacy policy</h1>
    </div>
  </div>
</div>
 
 
 {%comment%}
 <div class="general-hero-section _100vw">
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h1 class="no-margin-b">Privacy policy</h1>
      </div>
    </div>
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  {%endcomment%}



  <div class="white-section">
    <div class="general-white-front top-flat">
      <div class="tc-content-wrapper">
        <h2 class="black-text">INFORMATION COLLECTION AND USE</h2>
        <p class="black-text">Your privacy is important to us. Funky Chunky will not sell, share, or rent this information to any others in ways different from what is described below. Funky Chunky collects information from our users at several different areas on our website to assure quality of services and correct order delivery.</p>
        <h2 class="black-text">ORDER</h2>
        <p class="black-text">We request information from the user on our order form and other subscriber signups. Here a user must provide contact information and financial information (like credit card number). This information is used for billing purposes and to fill customers&#x27; orders. If there are problems processing an order, this contact information is used to get in touch with him or her.</p>
        <h2 class="black-text">SHARING</h2>
        <p class="black-text">We may share collective demographic information with our partners and advertisers. This is not linked to any personal information that can identify any individual person. We may use outside purveyors to ship orders directly, and a credit card processing company to bill users for goods and services. These companies do not retain, share, store or use personally identifiable information for any secondary purposes. We partner with another party to provide specific services, such as our mailing for our Funky Chunky promotional emails and newsletters. When the user signs up for these services, we will share names, or other contact information that is necessary for the third party to provide these services. These parties are not allowed to use personally identifiable information except for the sole purpose of providing these services.</p>
        <h2 class="black-text">COOKIES</h2>
        <p class="black-text">A cookie is a piece of data stored on your hard drive that contains information about your computer. Cookies may also be used to enable us to track and target your interests, for the purpose of enhancing your experience on our site. If you reject the cookie, you may still browse our site, however you will not be able to purchase or have access to all our services such as my account, address book, etc.</p>
        <h2 class="black-text">SEND-TO-A-FRIEND</h2>
        <p class="black-text">If a user elects to use our referral services for letting a friend know about our site, we ask for the friend&#x27;s name and email address. Funky Chunky will automatically send the friend a one-time email inviting them to visit the site or subscribe to our newsletter. Funky Chunky does not store this information in our database; it is only collected on the online form.</p>
        <h2 class="black-text">SECURITY</h2>
        <p class="black-text">Funky Chunky takes every precaution to protect our users&#x27; information. When users submit sensitive information via the website, your information is protected both online and off-line. In addition, our online shopping cart is held on a secure server. If you have any questions about the security at our website, you can send an E-mail to info@funkychunky.com. Surveys and Sweepstakes From time-to-time we may request information from you via surveys or sweepstakes. Participation in these surveys or sweepstakes is completely voluntary. Information requested may include contact information, and demographic information. We will use contact information to notify the winners and award prizes. Survey information will assist us in improving our products and services, and in providing you with an enjoyable shopping experience. None of the information from a survey is used on an individual basis. All information is compiled into statistical groupings only and is not retained for any other use. Legal Disclaimer Though we make every effort to preserve your privacy we may need to disclose personal information when required by law wherein we have a good-faith belief that such action is necessary to comply with a current judicial proceeding, a court order or legal process served on our Website.</p>
      </div>
    </div>
  </div>
  <div class="black-back-section relative">
    <div class="form-fundraiser-wrapper">
      <h5 class="all-caps white-text">general inquiries</h5>
      <h1 class="no-margin-b">give us a shout!</h1>
      <div class="contact-form w-form">
        <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="get"><input type="text" class="general-text-field flex w-input" maxlength="256" name="Full-Name" data-name="Full Name" placeholder="Full Name*" id="Full-Name" required=""><input type="email" class="general-text-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email Address*" id="Email-Address" required=""><textarea title="Type your desired Message" placeholder="Example Text" maxlength="5000" id="Your-message" name="Your-message" data-name="field" class="general-text-field full w-input"></textarea><input type="submit" value="Submit" data-wait="Please wait..." class="general-btn w-button"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="absolute-form-contact-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png 1200w" sizes="(max-width: 2857px) 42vw, 1200px" alt="" class="img-absolute sign-up"></div>
  </div>