<div class="general-hero-section _100vw">
  {%comment%}
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">reviews</h5>
        <h1 class="no-margin-b">the reviews are in!</h1>
      </div>
      <div class="top-left-review-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew2-min.png 600w" sizes="30vw" alt="" class="img-absolute-inner"></div>
      <div class="top-right-review-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min.png 600w" sizes="30vw" alt="" class="img-absolute-inner"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat bottom-flat no-padding-t">
      <div class="review-header-section">
        <div class="flex-review-header">
          <div class="reviews-logo-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/google-mark.svg" loading="lazy" alt="" class="logo-reviews-img"></div>
          <div class="reviews-text-container">
            <h3 class="black-text bold all-caps">google reviews</h3>
            <p class="black-text larger-p-text">5.0 rating out of 137 reviews</p>
          </div>
        </div>
        <a href="https://www.google.com/search?q=funky+chunky+reviews&amp;oq=funky+chunky+reviews&amp;aqs=chrome..69i57j0i22i30j0i390j69i61j69i60l2.2969j0j7&amp;sourceid=chrome&amp;ie=UTF-8" target="_blank" class="general-btn dark-with-w-text w-button">Leave Us A Review!</a>
      </div>
      <div class="review-wrapper">
        <div class="review-grid">
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">couldn&#x27;t put it down</h2>
            <p class="black-text">I&#x27;m a popcorn lover; this mix takes it to another dimension. My family lost their mind I had to order 5lbs a few days later.</p>
            <p class="black-text bold">Angela R.</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">yummy</h2>
            <p class="black-text">Yummy! Received these for Mothers Day. I’m ordering some for myself since there’s non left lol. However there were a lot of small pieces, crumbs, at the bottom.</p>
            <p class="black-text bold">Denise</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">FABULOUS</h2>
            <p class="black-text">this popcorn is probably the best i ever had. love the chocolate and peanut butter together with the caramel corn.</p>
            <p class="black-text bold">Elizabeth H.</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">fantastic</h2>
            <p class="black-text">I&#x27;m a popcorn lover; this mix takes it to another dimension. My family lost their mind I had to order 5lbs a few days later. Buying some for everyone for Christmas.</p>
            <p class="black-text bold">Angela R.</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">perfectly scrumptious</h2>
            <p class="black-text">Loved it!</p>
            <p class="black-text bold">Amy R.</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">incredible!</h2>
            <p class="black-text">My favorite popcorn! And that&#x27;s from someone who would eat popcorn for every meal if I could!</p>
            <p class="black-text bold">Kim B.</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">brings me joy</h2>
            <p class="black-text">I can&#x27;t stop eating this. I bought some for my family and ended up having to buy more because I finished the bag I intended on sharing!</p>
            <p class="black-text bold">Michael V.</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">perfect for movies</h2>
            <p class="black-text">Why not have some sweet popcorn when you watch a movie?! It combines the popcorn and the candy into one incredibly delicious snack.</p>
            <p class="black-text bold">Vieira D.</p>
          </div>
          <div class="review-flex-review-pg">
            <div class="star-img-wrapper-review"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/rating-stars.svg" alt=""></div>
            <h2 class="black-text">FABULOUS</h2>
            <p class="black-text">this popcorn is probably the best i ever had. love the chocolate and peanut butter together with the caramel corn.</p>
            <p class="black-text bold">Elizabeth H.</p>
          </div>
        </div>
      </div>
    </div>
  </div>