  <div class="general-hero-section">
    {%comment%}
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">about us</h5>
        <h1 class="no-margin-b">A BIT ABOUT US</h1>
      </div>
      <div class="top-left-about-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png 600w" sizes="15vw" alt="" class="img-absolute"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat no-padding-t">
      <div class="about-hero-text-wrapper">
        <h1 class="black-heading">A BIT ABOUT US</h1>
      </div>
      <div class="general-content-wrapper">
        <h2 class="black-text no-margin-t">INDULGENTLY CRAFTED <span class="break-line dark">GOURMET POPCORN</span></h2>
        <p class="black-text">Let’s be honest. If you’re reading this, you’re really trying to make up your mind on whether or not you should click that checkout button. Let us make it easy for you. Funky Chunky is not only the most decadent indulgent popcorn treat out there, we guarantee your satisfaction! What do you have to lose? Click that check out button!</p>
        <p class="black-text">Still not sure? Let’s break Funky Chunky down for you.  Our amazing flavors are based on the best caramel corn we could find, mixed with nuts and other little treats, and finally drizzled with heaps of chocolate-y and caramel drizzle. That mix of flavors and high quality ingredients is what makes it funky, but then we break it up into chunks rather than individual pieces just to help you get more in your mouth. Oh, and don’t forget our pretzels!</p>
        <p class="black-text">You can’t eat flowers. It’s time to switch it up! Our products are packaged for that adult crowd and never fail to impress. Whether you need to send one gift or thousands, we’re here to help you show gratitude or convey your important message.</p>
      </div>
      <div class="about-right-overlay-indulgent"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew2-min.png 600w" sizes="(max-width: 991px) 20vw, 23vw" alt="" class="img-absolute-inner"></div>
      <div class="about-left-overlay-indulgent"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min.png 600w" sizes="(max-width: 991px) 20vw, 23vw" alt=""></div>
    </div>
  </div>
  <div class="black-back-section">
    <div class="how-its-made-wrapper">
      <h3 class="larger-spacing white">HOW FUNKY CHUNKY IS MADE:</h3>
      <h3 class="larger-spacing bright-blue-text bold-text italic-text no-margin-t white">SIMPLY DELICIOUS!</h3>
      <div class="w-layout-grid how-its-made-grid">
        <div id="w-node-b8fad8a8-6626-404b-9689-1598790114a3-192fa43b" class="him-grid-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/process-popcorn.svg" loading="lazy" alt="" class="him-img"></div>
        <div id="w-node-_801420eb-22d7-567e-ed15-3c9cf9223479-192fa43b" class="him-grid-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/process-drizzle.svg" loading="lazy" alt="" class="him-img"></div>
        <div id="w-node-_13c83d56-1309-900b-e7fd-43c8a7466dd0-192fa43b" class="him-grid-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/process-nuts.svg" loading="lazy" alt="" class="him-img"></div>
        <div id="w-node-_26883f86-2c41-b4fd-5267-9f59a5fcfe57-192fa43b" class="him-grid-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/process-smallbatch.svg" loading="lazy" alt="" class="him-img"></div>
        <div id="w-node-_92a78b81-5758-b3dd-48fe-d5bea50bcf7c-192fa43b" class="him-grid-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/process-deliver.svg" loading="lazy" alt="" class="him-img"></div>
        <div id="w-node-_23e0cfb6-997f-c7e7-a947-b8c697fd5fad-192fa43b" class="him-grid-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/process-devour.svg" loading="lazy" alt="" class="him-img"></div>
        <div id="w-node-_9b0c38ea-ad3b-d418-044a-b8f5ad94740f-192fa43b">
          <p class="bold-text _22px">Perfect Caramel Popcorn</p>
        </div>
        <div id="w-node-cd54cb20-3256-d54d-00b2-cc1b33983eca-192fa43b">
          <p class="bold-text _22px">Delicious Drizzle</p>
        </div>
        <div id="w-node-_8701247c-ebe3-757c-f61b-0d095ce0985a-192fa43b">
          <p class="bold-text _22px">Perhaps Some Nuts</p>
        </div>
        <div id="w-node-_489365f5-92fa-c907-eeb4-476f15a48ea6-192fa43b">
          <p class="bold-text _22px">Always Small Batches</p>
        </div>
        <div id="w-node-bcd922cf-878e-ed76-c974-70a11534f354-192fa43b">
          <p class="bold-text _22px">Delivered in Style</p>
        </div>
        <div id="w-node-c64e840e-3d4d-565d-7f01-c8e0aa32c965-192fa43b">
          <p class="bold-text _22px">Devoured by All</p>
        </div>
      </div>
    </div>
  </div>
  <div class="general-black-back">
    <div class="general-white-front margin-b margin-t">

      {%comment%}
      <div class="general-heading-wrapper">
        <h1 class="black-text-flavor">A BIT ON OUR OWNER</h1>
      </div>
      <div class="owner-content-flex-row">
        <div class="owner-text-col">
          <p class="black-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          <p class="black-text">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
          <div class="flag-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/usa-flag.svg" loading="lazy" alt=""></div>
          <p class="black-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
        <div class="owner-img-col"></div>
      </div>
      {%endcomment%}
      <div class="retailers-wrapper about-us wider">
        <div class="retailers-flex-header">
          <div class="line margin-right"></div>
          <h3 class="all-caps black-text">FIND US AT THESE DELICIOUS RETAILERS</h3>
          <div class="line margin-left"></div>
        </div>
        <div class="retailers-grid-2">
          <div id="w-node-_8c4240b3-3487-7286-5e79-495844cf39ce-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/amazon.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/amazon-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/amazon.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 767px) 16vw, 17vw" alt="Amazon Logo" class="retailer-img"></div>
          <div id="w-node-_8c4240b3-3487-7286-5e79-495844cf39d0-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/bestbuy.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/bestbuy-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/bestbuy.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 767px) 15vw, 93.75px" alt="Best Buy Logo" class="retailer-img"></div>
          <div id="w-node-_8c4240b3-3487-7286-5e79-495844cf39d2-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costco.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costco-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costco.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 767px) 16vw, 17vw" alt="Costco Logo" class="retailer-img"></div>
          <div id="w-node-_8c4240b3-3487-7286-5e79-495844cf39d4-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costplusworldmarket.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costplusworldmarket-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/costplusworldmarket.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 767px) 16vw, 17vw" alt="Cost Plus World Market Logo" class="retailer-img"></div>
          <div id="w-node-_28ad8a17-7698-d78f-ceeb-964a69997bb2-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/lundsbyerlys.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/lundsbyerlys-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/lundsbyerlys.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 991px) 16vw, 127.90625px" alt="Lunds &amp; Byerlys Logo" class="retailer-img"></div>
          <div id="w-node-_7521f172-81f3-22be-df05-0322388a6adb-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/marshalls.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/marshalls-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/marshalls.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 767px) 16vw, (max-width: 991px) 17vw, 19vw" alt="Marshalls Logo" class="retailer-img"></div>
          <div id="w-node-c93710e2-2de9-5b57-5f68-7f51edcfc225-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/michaels.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/michaels-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/michaels.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 767px) 16vw, 17vw" alt="Michaels Logo" class="retailer-img"></div>
          <div id="w-node-a3e87b4c-6c9a-0b3e-17ce-61392685834d-192fa43b" class="retailer-grid-inner"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/tjmaxx.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/tjmaxx-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/tjmaxx.png 600w" sizes="(max-width: 479px) 19vw, (max-width: 767px) 16vw, 17vw" alt="TJ Maxx Logo" class="retailer-img"></div>
        </div>
      </div>
    </div>
  </div>