
  <div class="general-hero-section">
    {%comment%}
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">about us</h5>
        <h1 class="no-margin-b">A BIT ABOUT US</h1>
      </div>
      <div class="top-left-about-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw1-min.png 600w" sizes="15vw" alt="" class="img-absolute"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section black-back">
    <div class="general-white-front top-flat">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps">get the facts</h5>
        <h1 class="black-heading">Product nutritio</h1>
      </div>
    </div>
  </div>

  {%comment%}
  <div class="general-hero-section">
    <div class="about-hero-black-back _100vw">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">get the facts</h5>
        <h1 class="no-margin-b">Product nutrition</h1>
      </div>
      <div class="top-left-wholesale-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw3-min.png" loading="lazy" alt="" class="img-absolute-inner"></div>
      <div class="top-right-nutrition-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png 1200w" sizes="26vw" alt="" class="img-absolute-inner nutrition"></div>
      <div class="top-left-wholesale-img alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png 800w" sizes="15vw" alt="" class="img-absolute-inner"></div>
    </div>
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  {%endcomment%}




{% section 'nutrition-product-section' %}