<div class="general-hero-section">
  {%comment%}
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">have questions?</h5>
        <h1 class="no-margin-b">customer service</h1>
      </div>
      <div class="top-right-cs-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw1-min.png 575w" sizes="(max-width: 479px) 15vw, 20vw" alt="" class="img-absolute-inner"></div>
      <div class="top-left-cs-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle3-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle3-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle3-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle3-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle3-min.png 1600w" sizes="(max-width: 479px) 60vw, 75vw" alt="" class="img-absolute-inner"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat no-padding-t">
      <div class="about-hero-text-wrapper">
        <h1 class="black-heading">NEED HELP?</h1>
      </div>
      <div class="customer-service-flex-row">



        <div class="customer-service-flex-col">
          
          <div class="cs-shadow-box">
            <div class="customer-service-option-heading-flex-row">
              <div class="cs-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cs-trackorder.svg" loading="lazy" alt=""></div>
              <h2 class="black-text no-margin-b no-margin-t">track your order</h2>
            </div>
            <div class="track-order-form w-form">

              <a href="https://funkychunkytest.myshopify.com/apps/trackingmore" class="general-btn dark-with-w-text w-button">Track My Order</a>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>


        </div>
        <div class="customer-service-flex-col">
          
          
          <div class="cs-shadow-box">
            <div class="customer-service-option-heading-flex-row">
              <div class="cs-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cs-user.svg" loading="lazy" alt=""></div>
              <h2 class="black-text no-margin-b no-margin-t">account login</h2>
            </div>
            <div class="track-order-form w-form">

                <a href="account/login" class="general-btn dark-with-w-text margin-b w-button">Sign In</a>
              
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="black-back-section relative" id="faq-section">
    <div class="faq-wrapper">
      <h5 class="all-caps white-text">HAVE QUESTIONS? WE&#x27;VE GOT ANSWERS</h5>
      <h1 class="no-margin-b">FAQs</h1>
      <div class="faq-cs-wrapper">
        <div class="faq-individual">
          {% render 'dropdown-js-faq' %}

          <div data-w-id="b0a5b23d-ea79-f165-e9d0-8028b364865e" class="faq-upper">
            <p class="black-text no-margin-b">Do all Funky Chunky products have nuts?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div class=" faq-expand hide">
            <p class="faq-text">All products are produced in our factory that uses peanuts and tree nuts as ingredients in certain products. All products clearly identify what nuts they contain, however all items carry a peanut allergy warning because all Funky Chunky products are hand-crafted in a facility that contains peanuts.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="d25f35ff-6b84-2a65-8c4d-92f9b89b46ce" class="faq-upper">
            <p class="black-text no-margin-b">I have food allergies, what allergens are in Funky Chunky?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">Each Funky Chunky product is clearly marked with a &quot;Contains&quot; statement on each item as a part of the ingredient listing. All of our products are produced in our facility that uses milk, soy, wheat, egg, peanuts, and tree nuts. So while not all products contain these specific allergens, these ingredients are used regularly in our facility. For questions about specific product allergens, please check out our nutritionals here or email us at <a href="mailto:nutrition@funkychunky.com" class="bright-blue-black-link">nutrition@funkychunky.com</a>.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="d9b33791-88e5-64a7-7d62-aa15a2aa34ce" class="faq-upper">
            <p class="black-text no-margin-b">Is Funky Chunky Gluten-Free?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">No, Funky Chunky is not gluten free. While some Funky Chunky products do not contain gluten, our factory regularly uses wheat-based products to produce many flavors of Funky Chunky. We cannot currently prevent cross contamination due to shared equipment during the cooking and packing process. Therefore, no Funky Chunky products are sold as gluten free.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="a73ff37b-d5b8-a96e-c14c-fc20a91841e9" class="faq-upper">
            <p class="black-text no-margin-b">Is Funky Chunky Kosher?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">Yes, all Funky Chunky products are certified Kosher-Dairy by the Orthodox Union (OU). Each Funky Chunky product is clearly marked with the OU-D moniker. Funky Chunky products are not kosher for Passover.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="aee89461-adc9-9b7b-6ffb-7e150bded47c" class="faq-upper">
            <p class="black-text no-margin-b">How do I know what size to buy?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">How big is your appetite? Each product and gift assortment is clearly marked on the product description page with how many people each item serves. This is expressed in a range because not all people eat the same amount. The suggested serving size of all Funky Chunky products is one ounce (28 grams). Each Funky Chunky item is clearly marked with a Nutrition Facts Panel which includes suggested serving size and servings per container.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="913d87b7-d362-e02e-63e8-a1e4f2974d11" class="faq-upper">
            <p class="black-text no-margin-b">How long does Funky Chunky stay fresh?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">Each Funky Chunky item is marked with a &quot;best before&quot; date on all our products. All Funky Chunky products are hand-crafted in small batches each day. Funky Chunky as it is delivered to you - in its sealed canister, bag, tin or other packaging will generally stay fresh for 6 months when unopened. Once you open your Funky Chunky, we suggest you seal your canister or bag back up when you are not eating. For non-resealable bags of Funky Chunky that have been opened, we recommend you store uneaten portions in an air-tight container to maintain freshness.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="e8c84a5d-56f5-9062-a7f1-4d56d9b0fe13" class="faq-upper">
            <p class="black-text no-margin-b">How do I store my Funky Chunky?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">Funky Chunky products should be stored at room temperature away from direct sunlight since Funky Chunky is a chocolate-based product and is prone to melting when exposed to heat. Funky Chunky need not be refrigerated nor frozen. Once you open your Funky Chunky, we suggest you seal your canister when you are not enjoying it. For bags of Funky Chunky that have been opened, we recommend you store uneaten portions in an air-tight container to maintain freshness.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="832f0a1e-e67c-457f-8536-30df861249e2" class="faq-upper">
            <p class="black-text no-margin-b">Does Funky Chunky have trans-fat?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">No, Funky Chunky products do not contain trans-fats. Nor do we add preservatives to any Funky Chunky products.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="0415fa7b-6398-9f44-18c4-ba6c77732c37" class="faq-upper">
            <p class="black-text no-margin-b">How can I get nutritional information about Funky Chunky products?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">Each Funky Chunky product has a label that is clearly marked with a nutrition facts panel and ingredient statement. If you have never tried Funky Chunky and would like information about our products, please check out our nutritionals page or email <a href="mailto:nutrition@funkychunky.com" class="bright-blue-white-link">nutrition@funkychunky.com</a> with your nutrition inquiry. Each Funky Chunky product has a label that is clearly marked with a nutrition facts panel and ingredient statement.</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="5ddb6178-1767-2f28-2e2a-5ff447b77332" class="faq-upper">
            <p class="black-text no-margin-b">Do you have Military, Teacher, or First Responder discounts?</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p class="faq-text">Yes! Outside of our normal promotions and discounts, we offer significant discounts to thank our military personnel, veterans, first responders, and teachers! Please click here to access those, and thank you for your service and contribution to our country and communities!</p>
          </div>
        </div>
        <div class="faq-individual">
          <div data-w-id="bcc264a8-5bda-6fe1-3760-3dd05363a273" class="faq-upper"  id="shipping-and-returns">
            <p class="black-text no-margin-b">I&#x27;m having Site or Account Login issues</p>
            <div class="faq-toggle"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2.svg" loading="lazy" style="opacity:0" alt="" class="faq-img-alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2.svg" loading="lazy" style="opacity:1" alt="" class="faq-img"></div>
          </div>
          <div   class=" faq-expand hide">
            <p id="shipping-faq" class="faq-text">We hope you love our new site! If you are having issues, have any feedback, or cannot find what you need please contact us at <a href="mailto:info@funkychunky.com" class="bright-blue-white-link">info@funkychunky.com</a>. Please click on the &quot;Forgot Password?&quot; link to receive an email to accomplish this. We apologize for any inconvenience, but we value your online security and hope you forgive us!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-overlay-right"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle1-min.png 1150w" sizes="(max-width: 5750px) 20vw, 1150px" alt=""></div>
    <div class="faq-overlay-left"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/throw-popcorncashew1-min.png 600w" sizes="20vw" alt=""></div>
  </div>
  <div class="black-back-section no-padding-t">
    <div class="general-white-front margin-b">
      <div class="shipping-return-wrapper">
        <h1 class="black-text align-center">Shipping + returns</h1>
        
        <p class="black-text center">Free shipping offers do not apply to Corporate Orders (regardless of being placed online or by email).</p>
          
        <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
          <div class="shipping-return-tab-menu w-tab-menu">
            <a data-w-tab="Tab 1" class="shipping-return-tab-link w-inline-block w-tab-link w--current">
              <div>Returns &amp; Cancellations</div>
            </a>
            <a data-w-tab="Tab 2" class="shipping-return-tab-link w-inline-block w-tab-link">
              <div>Shipping Times</div>
            </a>
            <a data-w-tab="Tab 3" class="shipping-return-tab-link w-inline-block w-tab-link">
              <div>General Shipping Information</div>
            </a>

          </div>
          <div class="w-tab-content">
            <div data-w-tab="Tab 1" class="tab-pane-ship-return w-tab-pane w--tab-active">
              <div class="tab-pane-inner">
                <p class="black-text">If you have placed an order for Funky Chunky and need to change your order, we are able to accommodate your request if it is made before it has been packed and shipped (typically within the next day  of placing your order). We’re a boutique company and will try to help you out if we can. Want to check on the status of your order? Check out your Account page, email us at <a href="mailto:customercare@funkychunky.com" class="bright-blue-black-link">customercare@funkychunky.com</a> or call us at <a href="tel:+18884738659" class="bright-blue-black-link">888-473-8659</a> and have your order number and email address ready.</p>
                <p class="black-text">We make all of our orders in our facility in Minnesota, and each order is hand created just for you. Due to the highly customizable nature of our products, we are unable to cancel an order after we begin preparing it for shipment.</p>
                <p class="black-text">Funky Chunky is a boutique popcorn company with a hard-working and dedicated team. We hand-drizzle every small batch created. We want you to love what we make. If you don’t love it like we do, give us the chance to make it right. With that said, when shipping food there are a few factors we cannot control for usually having to do with shipping and delivery. Funky Chunky does not accept returns, provide refunds or replacement product for any of the following reasons:</p>
                <ul role="list">
                  <li>
                    <p class="black-text" id="holiday-shipping">Ordering of incorrect and/or wrong quantity of product.</p>
                  </li>
                  <li>
                    <p class="black-text">Items that are delivered to incorrect addresses supplied by the purchaser</p>
                  </li>
                  <li>
                    <p class="black-text">Unsuccessful deliveries arising from the recipient not being present at time of delivery at the address supplied by the sender.</p>
                  </li>
                  <li>
                    <p class="black-text">Decreased product quality due to an incorrect delivery address supplied by the sender, or a re-route requested by the purchaser.</p>
                  </li>
                  <li>
                    <p class="black-text">Product quality problems caused by improper handling by the recipient.</p>
                  </li>
                  <li>
                    <p class="black-text">Refusal of product upon delivery.</p>
                  </li>
                </ul>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="tab-pane-ship-return w-tab-pane">
              <div class="tab-pane-inner">
                <p class="black-text">Most orders are typically shipped the next business day, but during heavier order periods (i.e., the Holidays) please expect your order to ship within 2-4 business days. Please note that this is the time to ship, not deliver your order.</p>
                <p class="black-text">For custom and business gift orders please contact your sales representative for lead times and expected ship dates.</p>
                <p class="black-text">We want you, and whomever you share Funky Chunky gifts with, to enjoy them at their highest quality possible. As such, please be aware that we schedule our shipments to avoid excessively warm temperatures whenever possible. During such periods, please ensure you either schedule your shipments for delivery while the recipient is home and/or utilize our expedited shipment capabilities!</p>
                <p class="black-text center"><strong>For Online Orders only. For custom and business gifts, please contact us at <a class="bright-blue-black-link" href = "mailto: info@funkychunky.com">info@funkychunky.com</a> for current lead times.</strong></p>
                <div class="shipping-time-grid">
                  <div id="w-node-_85604af9-2431-7870-3242-37ad8454b2cb-849659af" class="shipping-grid-heading">
                    <p class="no-margin-b">Order Day</p>
                  </div>
                  <div id="w-node-f086895c-fd26-8897-11ae-ee32a59e968c-849659af" class="shipping-grid-heading">
                    <p class="no-margin-b">Time of Day</p>
                  </div>
                  <div id="w-node-e7b4cab7-7510-f9d4-a5df-73f052854119-849659af" class="shipping-grid-heading">
                    <p class="no-margin-b">UPS <span class="break-mob">Ground</span></p>
                  </div>
                  <div id="w-node-_7a3cd1a3-1446-566b-f363-f388363ed01a-849659af" class="shipping-grid-heading">
                    <p class="no-margin-b">2nd Day Air</p>
                  </div>
                  <div id="w-node-b3b13563-3ec6-5604-9388-4585fe880b01-849659af" class="shipping-grid-heading">
                    <p class="no-margin-b">Next Day</p>
                  </div>
                  <div id="w-node-_87ad59ce-471d-bdf8-c9c4-ee7a4471b848-849659af" class="order-day-block">
                    <p class="black-text no-margin-b">M–F</p>
                  </div>
                  <div id="w-node-_2057ad6f-0473-d4b5-5572-a187e88bd0d0-849659af" class="general-shipping-inner">
                    <p class="black-text">before 12:00 pm</p>
                  </div>
                  <div id="w-node-_7c9a446c-402f-8c0e-ca19-b8a7a8df0a2a-849659af" class="general-shipping-inner">
                    <p class="black-text">ships within 48 hours with 3-5 business days in transit*</p>
                  </div>
                  <div id="w-node-a1875738-617c-b517-e3cd-5d37c33851c4-849659af" class="general-shipping-inner">
                    <p class="black-text">will arrive on the 4th day from order day*</p>
                  </div>
                  <div id="w-node-_15e68b3b-f708-640d-5e95-ce57682b5d24-849659af" class="general-shipping-inner end">
                    <p class="black-text">will arrive on the 3rd day from order day*</p>
                  </div>
                  <div id="w-node-ee7f6963-57df-91c7-f184-d6930327ee23-849659af" class="general-shipping-inner">
                    <p class="black-text">after 12:00 pm</p>
                  </div>
                  <div id="w-node-_3a876569-fee6-917e-dcf3-491be354bbd9-849659af" class="general-shipping-inner">
                    <p class="black-text">ships within 48 hours with 3-5 business days in transit*</p>
                  </div>
                  <div id="w-node-_0924f88f-6b9d-e58d-645e-860c05ff8045-849659af" class="general-shipping-inner">
                    <p class="black-text">will arrive on the 5th day from order day*</p>
                  </div>
                  <div id="w-node-fc0e0fe1-8c3e-90a1-0666-55ed3c0b238b-849659af" class="general-shipping-inner end">
                    <p class="black-text">will arrive on the 4th day from order day*</p>
                  </div>
                  <div id="w-node-_4d623979-21a2-09f7-f000-fd1c0edbcac7-849659af" class="order-day-block">
                    <p class="black-text no-margin-b">Sat &amp; Sun</p>
                  </div>
                  <div id="w-node-c7fb75e5-a77e-f76e-b62d-d3716f1dbefe-849659af" class="general-shipping-inner">
                    <p class="black-text">all day</p>
                  </div>
                  <div id="w-node-bd1b25eb-8061-b429-e050-569d6bb81d22-849659af" class="general-shipping-inner">
                    <p class="black-text">ships Monday with 3-5 business days in transit*</p>
                  </div>
                  <div id="w-node-ce5870f7-5815-4aae-8e59-7a6e71157828-849659af" class="general-shipping-inner">
                    <p class="black-text">will arrive on the 4th day from order day; Thursday</p>
                  </div>
                  <div id="w-node-f12cc69e-b8ed-3f25-d9d4-2926a18f237e-849659af" class="general-shipping-inner end">
                    <p class="black-text">will arrive on the 3rd day from order day; Wednesday</p>
                  </div>
                  <div id="w-node-_65ad53b0-bfe1-a0e2-b1f8-33db3232523f-849659af" class="bottom-shipping-time">
                    <p>* &quot;business days&quot; exclude weekend days in the transit time</p>
                    <p>While we do our best to meet these delivery time frames, during periods of high demand orders can be slightly delayed. These estimates are also subject to product availability</p>
                    <p>Funky Chunky is not responsible for carrier delays</p>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 3" class="tab-pane-ship-return w-tab-pane">
              <div class="tab-pane-inner">
                <p class="black-text bold">Shipping Options</p>
                <p class="black-text left-mob">Looking for shipping options for your gift or that treat you ordered for yourself? Once you enter your address on the shipping page of checkout, your shipping options will be displayed. Please note that some shipping options may differ depending on time of year or holiday schedules.</p>
                <ul role="list">
                  <li>
                    <p class="black-text left-mob">Parcel Ground</p>
                  </li>
                  <li>
                    <p class="black-text left-mob">Parcel 3 Day</p>
                  </li>
                  <li>
                    <p class="black-text left-mob">Parcel 2nd Day Air</p>
                  </li>
                  <li>
                    <p class="black-text left-mob">Parcel Next Day Air Saver</p>
                  </li>
                </ul>
                <p class="black-text left-mob"><span class="bold-text">Note:</span> Prices quoted from our website are generated by our shipping provider. Actual carrier of goods may be subject to change without notice at the discretion of Funky Chunky. Service level, days in transit, and pricing will remain the same as quoted at the time of checkout.</p>
                <p class="black-text bold">Shipping Costs</p>
                <p class="black-text left-mob">Funky Chunky continually works to reduce our shipping costs, and we typically do not pass the full cost to our customers in an effort to provide the best value possible! All that said, Funky Chunky provides the cheapest shipping rates on the market when compared to our competition. Our competitors also don&#x27;t have a FREE SHIPPING level all year long!</p>
                <p class="black-text left-mob">If you have concerns about our shipping rates, or have a large order that you would like to arrange a pick up, or other methods of shipment please email us at <a href="mailto:info@funkychunky.com" class="bright-blue-black-link">info@funkychunky.com</a>
                </p>
                <p class="black-text bold">Days in Transit</p>
                <p class="black-text left-mob">&quot;Days in Transit&quot; are the days that the carrier takes to deliver your package starting from the day the order was picked up from our facility. Example: If you place your order before 2:00 PM CST on Monday, and the shipping option you choose is &quot;2nd Day Air,&quot; you can expect your order to typically arrive by Thursday.</p>
                <p class="black-text left-mob">Large orders to the same address are often shipped in more than one box – this will not impact your quoted shipping costs at checkout, nor expected delivery date period. Delivery time on the expected delivery date can only be obtained by the customer from the carrier utilizing the provided tracking number.</p>
                <p class="black-text left-mob">Please call <a href="tel:+18884738659" class="bright-blue-black-link">1-888-473-8659</a> to arrange delivery and get a custom quote for a scheduled delivery.</p>
                <p class="black-text bold">Business Days</p>
                <p class="black-text left-mob">A &quot;Business Day&quot; is considered Monday through Friday excluding holidays.</p>
                <p class="black-text bold">Map</p>
                <p class="black-text left-mob">To determine your business days in transit when shipped via our parcel If you have any questions about shipping your order, or need further assistance, please call toll-free <a href="tel:+18884738659" class="bright-blue-black-link">1-888-473-8659</a> and a customer service representative will be happy to assist you. During warm weather months and/or to warm weather destinations, the ground shipping option may be delayed ensuring the highest quality possible. You will be notified by email if this occurs.</p>
                <p class="black-text left-mob">NOTE: To ensure product quality, we are currently UNABLE to ship to PUERTO RICO, PO BOXES, or INTERNATIONAL locations.</p>
                <p class="black-text bold">Shipping Delays</p>
                <p class="black-text left-mob">We work tirelessly to make sure your Funky Chunky gets where it needs to go by the quoted delivery period. But we can’t always predict life (or the weather). Here are some reasons you may experience a delay with your order. If this is the case, we’ll always let you know via email.</p>
                <ul role="list">
                  <li>
                    <p class="black-text left-mob">Your order is delayed due to a ground carrier route that is too hot to be utilized to ensure the highest product quality possible. (You will be offered alternative expedited/air shipping methods, or you may choose to have your order held until temperatures drop.)</p>
                  </li>
                  <li>
                    <p class="black-text left-mob">The temperature at your &quot;Ship To&quot; address is 90 degrees or warmer and you need to delay shipment until the temperature drops. After notification for this delay, you can choose to have it shipped anyways by calling <a href="tel:+18884738659" class="bright-blue-black-link">1-888-473-8659</a>, but please ensure you are home to receive it if at all possible!</p>
                  </li>
                  <li>
                    <p class="black-text left-mob">Unanticipated demand and inventory shortages. We do our best to project and limit orders when we are running low on inventory - but as we often make our products to order, we cannot predict this perfectly. As a result, we may email you if we expect your order to ship beyond our max 4 business day window.</p>
                  </li>
                </ul>
                <p class="black-text bold">Saturday Delivery</p>
                <p class="black-text left-mob">Our standard shipping rates do not include weekend deliveries. If you desire a Saturday delivery, please ensure you select that option at checkout.</p>
                <p class="black-text bold">Shipping Restrictions</p>
                <p class="black-text left-mob">Due to our strict quality standards, we are usually not able to ship outside of the contiguous United States (lower 48 states), or to APO/FPO addresses at this time. We are unable to guarantee that our products will arrive in a timely fashion or in excellent condition when shipped internationally. Please call (<a href="tel:+18884738659" class="bright-blue-black-link">888-473-8659</a>) or email us at <a href="mailto:info@funkychunky.com" class="bright-blue-black-link">info@funkychunky.com</a> for inquiries about shipments to Canada, Alaska or Hawaii.</p>
                <p class="black-text bold">Warm Weather Shipping</p>
                <p class="black-text left-mob">We’ve formulated our chocolatey popcorn to withstand some of the warmer temperatures, however there are still certain conditions under which your delicious popcorn will melt into a pile of goo, and that’s not good for anyone. Our first priority is to maintain the craveable nature of our caramel corn, which means that there are certain conditions that make delivery more of a challenge.</p>
                <p class="black-text left-mob">We are able to ship chocolate products to warm weather areas (or during periods of warm weather) without delay if the product is in transit for three days or less and is in special packaging with ice packs. This requires certain destinations, during certain hot weather periods, to be shipped either Next Day Air Saver or 2nd Day Air to avoid delays due to warm weather. We ask that you be aware of the weather at your shipping destination and utilize the most appropriate shipping option at check-out to avoid delays. Don’t worry though if you forget! We’ll reach out if we believe there’s an issue!</p>
                <p class="black-text left-mob">We are not able to ship when temperatures are extreme unless we can avoid it through you selecting expedited shipment methods. In those cases, your order will be held, and we will be notified of any delays. This may apply to either the destination of your package, or the temperature at our factory.</p>
                <p class="black-text left-mob"><span class="bold-text">EXPERT TIP:</span> Try shipping your order to an office where someone can receive the delivery directly when the weather is hot!</p>
                <p class="black-text left-mob">If your order is a gift, it is up to you to alert the recipient to expect a perishable (and delicious!) delivery.</p>
                <p class="black-text left-mob">We are not responsible for packages left unattended outdoors upon delivery.</p>
                <p class="black-text bold">Warm Weather Shipping</p>
                <p class="black-text left-mob">To receive the free shipping discount, please note that your cart subtotal total must exceed $75 after all other promotions are applied.</p>
              </div>
            </div>


            


          </div>
        </div>
      </div>



{%- comment -%}

      <div class="shipping-return-wrapper" >
        <h1 class="black-text align-center">Holiday Shipping Deadlines</h1>
        
 
        <div class="w-tabs">
          <div class="shipping-return-tab-menu w-tab-menu">

          </div>
          <div class="w-tab-content">
           

          
              <div class="tab-pane-inner bottom">
                <p class="black-text bold" id="holiday-shipping">Holiday Shipping Deadlines</p>
                <ul role="list">
                  <li>
                    <p class="black-text left-mob">12/12 - Last day to ship ground with gift message to receive by Christmas</p>
                  </li>
                  <li>
                    <p class="black-text left-mob">12/15 - Last day to ship expedited with gift message to receive by Christmas</p>
                  </li>
                </ul>
                <p class="black-text bold">Deadline for Funky Chunky Corporate (Online or Email) </p>
                <ul role="list">
                  <li>
                    <p class="black-text left-mob">11/23 - Last day to Customize Corporate gifts with a logo and receive by Christmas</p>
                  </li>
                  <li>
                    <p class="black-text left-mob">12/5 Last day to ship Ground with gift message only and receive by Christmas</p>
                  </li>
                </ul>
                <p class="black-text left-mob"></br>Please be aware that due to extraordinary demand due to the holiday season we are running 3-4 days to ship on the online store. For current corporate lead times reach out to sales@funkychunky.com. <br></br>Shipping is never guaranteed as we can’t control our shipping partners. Deadlines above are based on estimated transit times from our shipping partners. Please note there is a 2-3 days processing time before our standard 5-10 business day production for custom gifts, which is increased to 10-12 days during our holiday rush . Please check back for shipping updates during the holiday season.</p>
                
              </div>
        


          </div>
        </div>
      </div>
{%- endcomment -%}


    </div>
  </div>
