<div class="general-hero-section">
    <div class="about-hero-black-back corporate">
      <div class="about-hero-text-wrapper corporate">
        <h1 class="no-margin-b">CORPORATE GIFTING</h1>
        <div class="width-wrapper">
        <div class="width-500">
          <p class=""><strong>Coming Soon</strong>: we’re working hard to make it easier to place large orders and customizations online! Sign up to our newsletter in the footer to get updates.</p>
        </div>
      </div>
        <div class="flex-hero-btn">
          {%comment%}
          <a href="https://funkychunky.com/collections/all-products" class="general-btn margin-b-land w-button">Start an Online Order</a>
          <a href="https://funkychunky.com/pages/contact" class="general-btn w-button">Need Help? Contact Us</a>
          {%endcomment%}
        </div>
      </div>
      <div class="top-left-wholesale-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw3-min.png" loading="lazy" alt="" class="img-absolute-inner"></div>
      <div class="top-r-wholesale-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png 1200w" sizes="30vw" alt="" class="img-absolute-inner wholesale"></div>
      <div class="top-left-wholesale-img alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png 800w" sizes="15vw" alt="" class="img-absolute-inner"></div>
    </div>
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat">
      <div class="general-content-wrapper wider no-padding-b">
        <h1 class="black-text">why give corporate gifts?</h1>
        {%comment%}
        <p class="black-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        {%endcomment%}
      </div>
      <div class="corporate-gift-pill">
        <div class="wholesale-pill-flex-row">
          <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cg-satisfaction.svg" loading="lazy" alt="" class="wholesale-img">
            <p class="no-margin-b">100% Satisfaction Guarantee</p>
          </div>
          <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cg-brand.svg" loading="lazy" alt="" class="wholesale-img">
            <p class="no-margin-b">Brand Your Gifts With A Logo<span class="break-line"></span></p>
          </div>
          <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/cg-message.svg" loading="lazy" alt="" class="wholesale-img">
            <p class="no-margin-b">Send a Personalized Gift Message</p>
          </div>
        </div>
      </div>
      <div class="general-content-wrapper wider alt2">
        <p class="black-text">If you would like a Sales Representative to help with your order, or have any questions, please fill out the contact form below or contact us at <a href="mailto:corporate@funkychunky.com" class="bright-blue-black-link">corporate@funkychunky.com</a> or call us at <a href="tel:+19522344770" class="bright-blue-black-link">952-234-4770</a>.<br></p>
        <a href="#gifting-form" class="general-btn dark-border margin-t w-button">Corporate Gifting Contact Form</a>
        <div class="remember-flex-row">
          <div class="remember-flex-col"></div>
          <div class="remember-flex-col-text">
            <h1 class="black-text left-align center-tab">YOUR CUSTOMERS<br>&amp; EMPLOYEES WILL<br>REMEMBER YOU<br>WITH FUNKY CHUNKY</h1>
            <p class="black-text left-align center-tab">Whether you need to send gifts to a few people or thousands, Funky Chunky makes it EASY to order and be remembered</p>
            <a href="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/2022_Funky_Chunky_Business_Gift_Catalog_101122_Update.pdf?v=1665510705" target="_blank" class="general-btn dark-border margin-t w-button">Check out Our Catalog!</a>
          </div>
        </div>
        <div class="business-gift-grid">
          <div id="w-node-_5654ae0b-dc92-0536-2857-072abce3a272-724b8620" class="line"></div>
          <div id="w-node-_580968bb-8bdd-dab5-4d00-a939acd200f4-724b8620">
            <h3 class="black-text larger-spacing smaller">CUSTOMIZE YOUR BUSINESS GIFTS</h3>
            <p class="black-text">Options Available (Minimum 20 Gifts):</p>
          </div>
          <div id="w-node-f1a284fe-3c17-c2ff-ce28-26d906f0281d-724b8620" class="line"></div>
          <div id="w-node-_6352d551-9188-1edc-7faf-483de511873d-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/ribbons.png" loading="lazy" alt="" class="customize-img">
            <h6 class="black-text left-align">choose ribbon colors</h6>
          </div>
          <div id="w-node-_10d666da-85ae-44b8-91fa-a65e028fc62b-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/logo.png" loading="lazy" alt="" class="customize-img">
            <h6 class="black-text left-align">add your own logo</h6>
          </div>
          <div id="w-node-_23a894b4-a83e-8c56-99c9-64c8f16960e9-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/custom-ribbon.png" loading="lazy" alt="" class="customize-img">
            <h6 class="black-text left-align">custom logo ribbon</h6>
          </div>
          <div id="w-node-_6366fb8f-8ef9-6d8f-47c0-9fb072b70ba3-724b8620" class="customize-flex-row"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/note-card.png" loading="lazy" alt="" class="customize-img">
            <h6 class="black-text left-align">personalized note card</h6>
          </div>
        </div>
        <p class="black-text italic-text">*We can ship to multiple locations, just give us your spreadsheet of addresses</p>
      </div>
    </div>
  </div>
  <div class="corprate-gifting-link" id="corprate_gifting"></div>
  <div class="black-back-section relative" >
    <div class="corporate-gift-wrapper">
      <h1 class="no-margin-b">HOW TO ORDER YOUR CORPORATE GIFTS</h1>
      <p>For a Printable Guide please <a href="#" class="bright-blue-white-link">click here</a>:</p>
      <div class="corporate-ordering-grid">
        <h2 class="no-margin-b left-align switch-land">Ordering online</h2>
        <div id="w-node-e1bf61ef-10e2-4a12-02c5-c2f85d02f5da-724b8620" class="line-vertical"></div>
        <h2 id="w-node-d3799846-a02f-06fb-7577-5ca01c6df6c7-724b8620" class="no-margin-b left-align switch-land">Ordering by email</h2>
        <div id="w-node-_19b812eb-4174-0655-7b4e-9d9db8a37ded-724b8620" class="ordering-inner">
          <div id="w-node-_81ca8aca-083b-86d4-21fd-82344e5d2b7b-724b8620" class="order-online-dropdown-whole">





            <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
<script>
    $(document).ready(function() {
        $(".order-dropdown-top").on('click', 
        function() {
            
          if ($(this).siblings(".order-dropdown-bottom").hasClass('hide')==true)
          {
            $(this).siblings(".order-dropdown-bottom").removeClass("hide");
            
            
          }
          else
          $(this).siblings(".order-dropdown-bottom").addClass("hide");
          
        });
    });
    $(document).ready(function() {
        $(".order-online-dropdown-whole").on('click', 
        function() {
            
          if ($(this).siblings(".order-dropdown-bottom").hasClass('hide')==true)
          {
            $(this).siblings(".order-dropdown-bottom").removeClass("hide");
            
            
          }
          else
          $(this).siblings(".order-dropdown-bottom").addClass("hide");
          
        });
    });
    

      </script>






            <div data-w-id="98752f83-fe84-9f15-71c4-a19d9cec7cd5" class="order-dropdown-top">
              <p class="bold-text left-align">If more than 20 gifts and/or with Customizations:</p>
              <div class="arrow-dropdown-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2-w.svg" loading="lazy" style="display:block;opacity:1" id="w-node-d4246cf5-d7e4-15ec-419c-c8776cc460e4-724b8620" alt="" class="arrow-dropdown-down"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2-w.svg" loading="lazy" style="display:none;opacity:0" alt="" class="arrow-dropdown-up"></div>
            </div>
            <div  class="order-dropdown-bottom hide">

              <p class="left-align">If you would like to order more than 20 gifts OR would like to customize your gifts, please fill out the form at the bottom of this page and someone will contact you to complete your order.</p>
              
              {%comment%}
              <ol role="list" class="ordering-list">
                <li>
                  <p class="left-align">Shop our Gifts <a href="https://funkychunky.com/collections/all-products" class="bright-blue-white-link">here</a>, and click “This is a Gift” to add your message</p>
                </li>
                <li>
                  <p class="left-align">In Your Cart select the “Ship to Multiple Addresses” if you need to send to more than one place</p>
                </li>
                <li>
                  <p class="left-align">Check Out</p>
                </li>
              </ol>
              {%endcomment%}
            </div>
          </div>
          <div class="order-online-dropdown-whole">
            <div data-w-id="454e5e06-c385-0820-5718-dcc09fac32f7" class="order-dropdown-top">
              <p class="bold-text left-align">If less than 20 gifts and/or Non-Customized<br>(Free Gift Messages still available!)</p>
              <div class="arrow-dropdown-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-down2-w.svg" loading="lazy" style="display:block;opacity:1" id="w-node-_454e5e06-c385-0820-5718-dcc09fac32fb-724b8620" alt="" class="arrow-dropdown-down"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/chevron-up2-w.svg" loading="lazy" style="display:none;opacity:0" alt="" class="arrow-dropdown-up"></div>
            </div>
            <div class="order-dropdown-bottom hide">
              <ol role="list" class="ordering-list">
                <li>
                  <p class="left-align">Shop our Gifts <a href="https://funkychunky.com/collections/all-products" class="bright-blue-white-link">here</a>, and click “This is a Gift” to add your message</p>
                </li>
                <li>
                  <p class="left-align">In Your Cart select the “Ship to Multiple Addresses” if you need to send to more than one place</p>
                </li>
                <li>
                  <p class="left-align">Check Out</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div id="w-node-_5bc057f9-c87e-3184-14e4-32e2d559c82f-724b8620">
          <ol role="list" class="ordering-list">
            <li>
              <p class="left-align">Download the <a href="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/Business_Gift_Ship_To_Spreadsheet_v.2022Auto.xlsx?v=1665510783" class="bright-blue-white-link">Corporate Order Form</a>
              </p>
            </li>
            <li>
              <p class="left-align">Check out our <a href="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/2022_Funky_Chunky_Business_Gift_Catalog_101122_Update.pdf?v=1665510705" target="_blank" class="bright-blue-white-link">Catalog</a>
              </p>
            </li>
            <li>
              <p class="left-align">Send your completed Order Form and logo (if applicable) to <a href="mailto:corporate@funkychunky.com" class="bright-blue-white-link">corporate@funkychunky.com</a><br>‍<span class="italic-text">Please do not modify the Order Form in any way</span></p>
            </li>
          </ol>
        </div>
      </div>
      <p>If you need any other assistance or a quote, please complete the contact form below or email us at <a href="mailto:corporate@funkychunky.com" class="bright-blue-white-link">corporate@funkychunky.com</a>
      </p>
    </div>
  </div>
  <div class="white-section">
    <div class="general-white-front margin-t">
      <div class="general-content-wrapper wider no-padding-b">
        <h1 class="black-text">other ways to gift</h1>
        {%comment%}
        <p class="black-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        {%endcomment%}
      </div>
      <div class="flex-gift-row">
        <div class="ways-to-gift-flex-col">
          <div class="gift-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/collection-egift-min.jpg" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/collection-egift-min-p-500.jpg 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/collection-egift-min-p-800.jpg 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/collection-egift-min-p-1080.jpg 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/collection-egift-min-p-1600.jpg 1600w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/collection-egift-min.jpg 1600w" sizes="(max-width: 479px) 81vw, (max-width: 767px) 200px, (max-width: 991px) 41vw, 33vw" alt="" class="gift-img"></div>
          <h1 class="black-text">e-gifting</h1>
          <p class="black-text margin-b tighter-alt">Not sure what your loved one likes? Send an e-gift instead so they can pick out whichever Funky Chunky product they prefer!</p>
          <a href="https://funkychunky.com/a/gc/gift-card/" class="general-btn dark-with-w-text w-button">Learn More</a>
        </div>
        <div class="ways-to-gift-flex-col">
          <div class="gift-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/fc-gift-box.png 1200w" sizes="(max-width: 479px) 81vw, (max-width: 767px) 200px, (max-width: 991px) 41vw, 220px" alt="" class="gift-img"></div>
          <h1 class="black-text">birthday &amp; work anniversary clubs</h1>
          <p class="black-text margin-b tighter-alt">Send us the list and dates and we’ll get them their gifts without you having to remember</p>
          <a href="https://funkychunky.com/collections/employee-care-packages" class="general-btn dark-with-w-text w-button">Learn More</a>
        </div>
      </div>
      <div class="bottom-banner-alt">
        <h3 id="gifting-form" class="h2-link">SHIPPING LEAD TIMES &amp; OTHER INFORMATION<br></h3>
        <p>For full information on shipping and lead times, check out our <a href="https://funkychunky.com/pages/customer-service-1#shipping-and-returns" class="black-white-link">Customer Service</a> page.</p>
      </div>
    </div>
  </div>
  <div class="black-back-section padding-b relative">
    <div class="corporate-gift-wrapper">
      <h3>START GIFTING TODAY!</h3>
      <h1 class="no-margin-b">START YOUR LARGE ORDER</h1>
    </div>
    <div class="form-wrapper-corprate-outter">
      <div class="form-wrapper-corprate-inner">

        
        <div class="klaviyo-form-W3KbN2"></div>
      </div>
    </div>
    
    {%comment%}
    <div style="margin:0 auto;" class="pxFormGenerator" id="xeVV-PC9yFZNuAwU9JpyNQ"></div>


    {%endcomment%}

    <div class="absolute-gifting-form"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png 1200w" sizes="(max-width: 2181px) 55vw, 1200px" alt=""></div>
  </div>