<div class="general-hero-section">
  {%comment%}
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">funky chunky wholesale</h5>
        <h1 class="no-margin-b">SHARE THE GOODNESS</h1>
      </div>
      <div class="top-left-wholesale-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/caramel-throw3-min.png" loading="lazy" alt="" class="img-absolute-inner"></div>
      <div class="top-r-wholesale-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png 1200w" sizes="30vw" alt="" class="img-absolute-inner wholesale"></div>
      <div class="top-left-wholesale-img alt"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/choc-throw4-min.png 800w" sizes="15vw" alt="" class="img-absolute-inner"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>
  <div class="white-section">
    <div class="general-white-front top-flat">
      <div class="general-content-wrapper wider no-padding-b">
        <h1 class="black-text">WHY SELL FUNKY CHUNKY IN YOUR STORE?</h1>
        <p class="black-text">Your shoppers are hungry! Our handcrafted popcorn and pretzel snacks are packaged in special retail formats that fit perfectly in your set. Funky Chunky will look amazing on your shelves, in tear-away display cases, or easily displayed on a peg. Tens of thousands of retailers can’t be wrong, and trust us when we say that people will come back to your store just to get their fix of Funky Chunky.</p>
        <p class="black-text">We guarantee satisfaction on every item we sell. Our shelf life is a minimum of 6 months upon delivery - that leaves your customers with say…5 months and 29 days when you sell out day one? Check out our wholesale customer portal and you’ll have it on shelf in no time.</p>
      </div>
      <div class="wholesale-pill">
        <div class="wholesale-pill-flex-row">
          <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/ws-100guarantee.svg" loading="lazy" alt="" class="wholesale-img">
            <p class="no-margin-b">100% Product Guarantee</p>
          </div>
          <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/ws-nominorder.svg" loading="lazy" alt="" class="wholesale-img">
            <p class="no-margin-b">No Minimum <span class="break-line">Order Amount</span></p>
          </div>
          <div class="wholesale-pill-flex-col"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/ws-onlineportal.svg" loading="lazy" alt="" class="wholesale-img">
            <p class="no-margin-b">Order Anytime With Our Online Portal</p>
          </div>
        </div>
      </div>
      <div class="general-content-wrapper wider">
        <p class="black-text">If you&#x27;re interested in carrying Funky Chunky products in your store, please fill out the application below. Contact us at <a href="mailto:sales@FunkyChunky.com" class="bright-blue-black-link">sales@FunkyChunky.com</a>, or call us at <a href="tel:+19522344770" class="bright-blue-black-link">(952) 234-4770</a> with any questions.<br></p>
        <a id="wholesale-form" href="#wholesale-form" class="general-btn dark-border margin-t w-button">Wholesale Registration</a>
      </div>
    </div>
  </div>
  <div class="black-back-section relative">
    <div class="form-wholesale-wrapper">
      <h5 class="all-caps white-text">Bring some goodness to your area</h5>
      <h1 class="no-margin-b">wholesale registration form</h1>
      <div style="margin:0 auto;" class="pxFormGenerator" id="03rABLFYSWTm7lBJcn6I8A"></div>

      
    </div>
    <div class="wholesale-registration-img-right"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz3-min.png 1200w" sizes="50vw" alt="" class="img-absolute-inner registration-wholesale"></div>
    <div class="wholesale-registration-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle2-min.png 1200w" sizes="50vw" alt="" class="img-absolute-inner"></div>
  </div>