<div class="general-hero-section _100vw">
  {%comment%}
    <div class="about-hero-black-back">
      <div class="about-hero-text-wrapper">
        <h5 class="all-caps white-text">funky chunky Discounts</h5>
        <h1 class="no-margin-b">because you deserve it!</h1>
      </div>
      <div class="abs-discount-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/salt-throw2-min.png 1200w" sizes="100vw" alt="" class="img-absolute"></div>
    </div>
    {%endcomment%}
    <div class="about-hero-img-wrapper dark"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/splash-secondary-blue.svg" loading="lazy" alt="" class="img-hero"></div>
  </div>

  {%section 'sk-white-box-section-discount'%}

  <div class="white-section last-element">
    <div class="general-white-front top-flat _100vw">
      <div class="discount-content-wrapper">
        <div class="discount-grid">
          <div id="w-node-c730607a-e437-35c9-8824-05f27b6e512f-0dc3ce68" class="discount-inner">
            <div class="discount-background">
              <h2 class="no-margin-b medium">veteran discount</h2>
              <h3 class="larger-h3 no-margin-t">25% OFF</h3>
              <div class="discount-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/usa-flag-w.svg" loading="lazy" alt="" class="icon-discount"></div>
              <p class="discount-p">As a veteran-owned company, we&#x27;re proud to offer a 25% discount as a token of gratitude for those who have served our country!</p>
              <button class="vfyps_mil general-btn dark-border discount w-button">Veteran Discount</button>
              
            </div>
          </div>
          <div id="w-node-f17ce048-c791-1f8b-4419-5b1abac15163-0dc3ce68" class="discount-inner">
            <div class="discount-background blue">
              <h2 class="no-margin-b medium">teacher discount</h2>
              <h3 class="larger-h3 no-margin-t">25% OFF</h3>
              <div class="discount-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/teacher-w.svg" loading="lazy" alt="" class="icon-discount"></div>
              <p class="discount-p">For shaping our childrens&#x27; minds, we&#x27;re proud to offer a 25% discount as a token of gratitude for those who work so hard for us all!</p>
              <button class="vfyps_tea general-btn dark-border discount w-button">Teacher Discount</button>
         
            </div>
          </div>
          <div id="w-node-_4aa5583e-863c-d947-3bfd-aae2634c5bb4-0dc3ce68" class="discount-inner">
            <div class="discount-background yellow">
              <h2 class="no-margin-b medium">first responder discount</h2>
              <h3 class="larger-h3 no-margin-t">25% OFF</h3>
              <div class="discount-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/first-responder-w.svg" loading="lazy" alt="" class="icon-discount"></div>
              <p class="discount-p">For our first responders that are always there for us, we&#x27;re proud to offer a 25% discount as a token of our immense gratitude!</p>
              <button class="vfyps_fir general-btn dark-border discount w-button">Responder Discount</button>
              
            </div>
          </div>
          <div id="w-node-c1d41dd9-ce03-d706-1c13-397d85a98385-0dc3ce68" class="discount-inner">
            <div class="discount-background pink">
              <h2 class="no-margin-b medium">medical discount</h2>
              <h3 class="larger-h3 no-margin-t">25% OFF</h3>
              <div class="discount-icon-wrapper"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/medical-w.svg" loading="lazy" alt="" class="icon-discount"></div>
              <p class="discount-p">For all you&#x27;ve done throughout the pandemic and to keep us healthy, we&#x27;re proud to offer a 25% discount as a token of our appreciation!</p>
              <button class="vfyps_med general-btn dark-border discount w-button">Medical Discount</button>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="black-back-section relative hidden">
    <div class="form-fundraiser-wrapper">
      {%comment%}
      <h5 class="all-caps white-text">drink the kool-aid</h5>
      {%endcomment%}
      <h1 class="no-margin-b">SIGN UP AND SAVE!</h1>
      <p>Sign up for the latest Funky Chunky updates, promotions, and new product releases to receive a 20% off funkychunky.com code!</p>


      <div class="form-imbed-wrapper">
        <div class="form-imbed-container">
          <div class="klaviyo-form-XGGm8U"></div>
        </div>
      </div>
      {%comment%}
      <div class="signup-form w-form">
        <form id="wf-form-Sign-up-and-save" name="wf-form-Sign-up-and-save" data-name="Sign up and save" method="get"><input type="email" class="general-text-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email Address*" id="Email-Address" required="">
          <div class="flex-form"><input type="text" class="general-text-field flex w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name*" id="First-Name" required=""><input type="email" class="general-text-field flex w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name*" id="Last-Name" required=""></div><input type="submit" value="Submit" data-wait="Please wait..." class="general-btn w-button">
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      {%endcomment%}

    </div>
    <div class="absolute-form-discount-img"><img src="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png" loading="lazy" srcset="https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-500.png 500w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-800.png 800w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min-p-1080.png 1080w, https://cdn.shopify.com/s/files/1/0007/4524/2681/files/drizzle-pretz2-min.png 1200w" sizes="(max-width: 991px) 25vw, (max-width: 4000px) 30vw, 1200px" alt="" class="img-absolute"></div>
  </div>