

<div class="page-wrapper-search">

	<div class="page-heading-wrapper-search">
	  {% if search.performed == false %}
		<h1 class="page-heading-search">Search Our Site</h1>
		{% else %}
		{% comment %}
		<h1 class="page-heading-search">{{ 'general.search.results' | t: terms: search.terms }}</h1>
		{% endcomment %}
		<h1 class="page-heading-search">Search Results for "{{ search.terms }}"</h1>
	  {% endif %}
	</div>
  
	{% if search.performed and search.results_count == 0 %}
	  <div class="rte jc-search-empty">
		<p style="text-align:center; font-size: 20px;color: #000;">No Search Results</p>
	  </div>
	{% endif %}
  
	{% if search.performed and search.results_count > 0 %}
	  <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
  
	  <div class="jc-search-page-grid-wrapper container-xl">
		<div class="product-section-flex-row product-section-flex-row-wrap">
		  {% for item in search.results %}
  
			{% if item.object_type == 'product' %}
			  {% assign product = item %}
  
			  
			  {% assign show_product = true  %}
  
			  {% comment %}
				Buy With Prime - 162038317129
			  {% endcomment %}
  
			  {% for collection in product.collections %}
				{% if collection.id == 273877368915 %}
				  {% assign show_product = false  %}
				{% endif %}
			  {% endfor %}
  
			 
				{% render 'sk-product-loop-2', product: product %}
			  
			  
  
			{% endif %}
  
  
  
		  {% endfor %}
		</div>
	  </div>
  
  
	{% endif %}
  
  
  </div>